<div class="block-descr">
    <div class="container">
        <div class="block-descr__content">
            <h3 class="title3">
                Arkon technologies: делаем охотничьи технологии доступными
            </h3>
            <p>
                Бренд Arkon - это гарантия качества и первоклассная сервисная поддержка, осуществляемая специалистами
                высокого уровня с опытом производства оптических приборов более 10 лет на собственной производственной
                площадке в Москве, при поддержке профессиональной команды экспертов и менеджеров.
                Наша сила – современные доступные решения в охоте. Мы – это команда инженеров, которые знают потребности
                российских охотников и создают тепловизионные приборы с использованием новейших технологий: матрица VOx,
                высокая температурная чувствительность, ударопрочный корпус с влагозащитой IP67, собственное программное
                обеспечение.
            </p>
            <p>
                Матрица на основе оксида ванадия повышает чувствительность и стабильность изображения, уменьшает шумы на
                изображении. Тепловизоры с матрицей VOx работают в широком температурном диапазоне.
            </p>
            <p>
                Все приборы проходят обязательное тестирование в лабораторных условиях: проверяем точность, стабильность
                работы электроники, точность введения поправок, ударопрочность и степень влагозащиты. В полевых условиях
                испытываем на стабильность, стойкость к отдаче мелких и крупных калибров, устойчивость к различным
                погодным условиям и удобство использования.
            </p>
        </div>
    </div>
</div>