<div class="card-product1">
  <img class="card-product1__photo" src="img/product3.png" alt="">
  <div class="card-product1__data">
    <div class="card-product1__name">
      <a href="#">Коллиматорный прицел Holosun AEMS, красная марка</a>
    </div>
    <div class="card-product1__price">
      <div class="card-product1__price1">142 700 ₽</div>
      <div class="card-product1__discounts">
        <div class="card-product1__price2">183 200 ₽</div>
        <div class="card-product1__discount">-20%</div>
      </div>
    </div>
  </div>
</div>
