<div class="card-product">
  <div class="card-product__inner">
    <div class="card-product__actions">
      <button class="card-product__action" type="button" title="Добавить к списку сравнения">
        <svg aria-hidden="true" width="17" height="20">
          <use xlink:href="img/sprite.svg#compare1"></use>
        </svg>
        <span class="v-h">Добавить к списку сравнения</span>
      </button>
      <button class="card-product__action" type="button" title="Добавить в избранное">
        <svg aria-hidden="true" width="22" height="20">
          <use xlink:href="img/sprite.svg#heart1"></use>
        </svg>
        <span class="v-h">Добавить в избранное</span>
      </button>
    </div>
    <div class="card-product__photo">
      <div data-preview="container" class="photos-preview">
        <ul class="photos-preview__nav">
          <li data-preview="item" class="photos-preview__nav-item photos-preview__nav-item_active"></li>
          <li data-preview="item" class="photos-preview__nav-item"></li>
        </ul>
        <div data-preview="stack" class="photos-preview__stack">
          <img loading="lazy" src="img/product1.webp" alt="" style="visibility: visible;">
          <img loading="lazy" src="img/product2.webp" alt="">
        </div>
      </div>
      <span class="card-product__bonuses badge2">+ 2000 Б</span>
      <div class="card-product__brand">
        <img src="img/arkon-alfa.svg" alt="">
      </div>
    </div>
    <div class="card-product__badges">
      <span class="badge2 badge2_grey1">Хит продаж</span>
      <span class="badge2 badge2_grey2">Акция</span>
    </div>
    <div class="card-product__data">
      <div class="card-product__name">
        <a href="product-detail.html">Коллиматорный прицел Holosun AEMS, красная марка</a>
      </div>
      <div class="card-product__status">
        <span class="card-product__status_instock">В наличии</span>
      </div>
      <div class="card-product__bottom">
        <div>
          <span class="card-product__price1">Цена по запросу</span>
        </div>
      </div>
    </div>
    <div class="card-product__shipping">
      <span class="card-product__btn-shipping">
        <svg aria-hidden="true" width="23" height="16">
          <use xlink:href="img/sprite.svg#shipping1"></use>
        </svg>
        <span>Доставка 26 февраля</span>
      </span>
    </div>
    <div class="card-product__buttons">
      <a class="btn-fancy btn-fancy_1" href="#">
        <span>Подробнее</span>
      </a>
      <button class="btn-fancy btn-fancy_3" type="button" disabled>
        <span>В корзине</span>
      </button>
    </div>
  </div>
</div>
