<footer class="footer">
  <img class="footer__bg" src="img/footer-bg.jpg" srcset="img/footer-bg@2x.jpg 2x" alt="">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__col">
        <img class="footer__logo" src="img/logo-white.svg" alt="">
        <div class="footer__title">Наши реквизиты:</div>
        <div class="footer__credentials">
          <p class="footer__title">Общество с ограниченной ответственностью “ЦЭК”</p>
          <p><span>121165, г. Москва, ул. Киевская, д. 22, помещ. 3/1</span></p>
          <p>
            <span>ИНН:</span> 7733626391
          </p>
          <p>
            <span>Р/счет:</span> 40702810043022085201
          </p>
          <p>
            <span>Банк:</span> ПАО «Банк ПСБ»
          </p>
          <p>
            <span>ИНН банка:</span> 7744000912
          </p>
          <p>
            <span>Кор/счет:</span> 30101810400000000555
          </p>
        </div>
      </div>
      <div class="footer__col footer__nav">
        <div class="footer__title">
          <a href="#">Каталог продукции</a>
        </div>
        <ul>
          <li>
            <a href="#">Тепловизионные прицелы</a>
          </li>
          <li>
            <a href="#">Тепловизионные монокуляры</a>
          </li>
          <li>
            <a href="#">Тепловизионные насадки для телефона</a>
          </li>
          <li>
            <a href="#">Лазерные дальномеры</a>
          </li>
          <li>
            <a href="#">Коллиматорные прицелы</a>
          </li>
          <li>
            <a href="#">Дневные бинокли</a>
          </li>
          <li>
            <a href="#">Оптические прицелы</a>
          </li>
          <li>
            <a href="#">Приборы ночного видения</a>
          </li>
          <li>
            <a href="#">Кронштейны</a>
          </li>
          <li>
            <a href="#">Аксессуары</a>
          </li>
        </ul>
        <div class="footer__title">
          <a href="#">Серии</a>
        </div>
        <div class="footer__title">
          <a href="#">Акции</a>
        </div>
      </div>
      <div class="footer__col footer__nav">
        <div class="footer__title">
          <a href="#">О нас</a>
        </div>
        <ul>
          <li>
            <a href="#">О компании</a>
          </li>
          <li>
            <a href="#">Реквизиты</a>
          </li>
        </ul>
        <div class="footer__title">
          <a href="#">Поддержка</a>
        </div>
        <ul>
          <li>
            <a href="#">Сервис</a>
          </li>
          <li>
            <a href="#">Гарантия</a>
          </li>
          <li>
            <a href="#">Руководство по эксплуатации</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
        <div class="footer__title">
          <a href="#">Где купить</a>
        </div>
        <div class="footer__title">
          <a href="#">Медиа</a>
        </div>
        <div class="footer__title">
          <a href="#">Контакты</a>
        </div>
      </div>
      <div class="footer__col footer__nav">
        <button class="btn-text btn-text_1" type="button">Заказать звонок</button>
        <button type="button" class="location-string">
          <svg class="location-string__icon" aria-hidden="true" width="13" height="16">
            <use xlink:href="img/sprite.svg#location1"></use>
          </svg>
          <span>Москва, улица Киевская, 22</span>
        </button>
        <div class="footer__phone">
          <a href="tel:84952293993">8 (495) 229-39-93</a>
        </div>
        <div class="footer__worktime">Пн-Пт 09:00 – 19:00 Мск</div>
        <div class="footer__email">
          <a href="mailto:info@arkonoptics.ru">info@arkonoptics.ru</a>
        </div>
        <div class="socials">
          <a target="_blank" href="https://vk.com/club208932370">
            <svg class="location-string__icon" aria-hidden="true" width="40" height="40">
              <use xlink:href="img/sprite.svg#social-vk"></use>
            </svg>
          </a>
          <a target="_blank" href="https://vk.com/club208932370">
            <svg class="location-string__icon" aria-hidden="true" width="40" height="40">
              <use xlink:href="img/sprite.svg#social-tg"></use>
            </svg>
          </a>
          <a target="_blank" href="https://vk.com/club208932370">
            <svg class="location-string__icon" aria-hidden="true" width="40" height="40">
              <use xlink:href="img/sprite.svg#social-yt"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__copy">© 2025 | ARKON Тепловизионные системы | Все права защищены</div>
      <div>
        <a href="policy.html">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
