<div class="nav-bottom">
  <!--
  <button class="btn-load">
    Загрузить еще
    <span class="spinner" role="status">
      <svg>
        <use xlink:href="img/sprite.svg#spinner1"></use>
      </svg>
    </span>
  </button>-->

  <nav aria-label="Постраничная навигация">
    <ul class="pagination">
      <li>
        <span class="pagination__item pagination__item_nav pagination__item_nav-prev pagination__item_disabled"
          href="#">
          <svg aria-hidden="true" width="42" height="22">
            <use xlink:href="img/sprite.svg#arrow1"></use>
          </svg>
        </span>
      </li>
      <li>
        <a class="pagination__item pagination__item_active" aria-current="page" href="#">1</a>
      </li>
      <li>
        <a class="pagination__item" href="#"><span class="v-h">Страница </span>2</a>
      </li>
      <li>
        <a class="pagination__item" href="#"><span class="v-h">Страница </span>3</a>
      </li>
      <li>
        <a class="pagination__item pagination__item_ellipsis" href="#">...</a>
      </li>
      <li>
        <a class="pagination__item" href="#"><span class="v-h">Страница </span>12</a>
      </li>
      <li>
        <a class="pagination__item pagination__item_nav pagination__item_nav-next" href="#">
          <svg aria-hidden="true" width="42" height="22">
            <use xlink:href="img/sprite.svg#arrow1"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>