<section data-container="tab1" class="block-publications">
  <div class="container">
    <div class="heading-cols1">
      <h2 class="title2">Последние публикации</h2>
      <div class="tabs-nav1">
        <button data-action="showTab1" data-tab="news" class="btn-corner1 btn-corner1_active" type="button">
          <span class="btn-corner1__inner">Новости</span>
        </button>
        <button data-action="showTab1" data-tab="media" class="btn-corner1" type="button">
          <span class="btn-corner1__inner">Медиа</span>
        </button>
      </div>
      <a href="articles.html" class="btn-text btn-text_1">Все публикации</a>
    </div>
    <div data-tab-content="news">
      <div class="swiper swiper-publications">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-pub">
              <div class="card-pub__photo">
                <img src="img/photo.jpg" alt="">
              </div>
              <div class="card-pub__bar">
                <div class="card-pub__date badge1 badge1_accent">
                  <span>02 июня 2025</span>
                </div>
                <div class="card-pub__type badge1 badge1_white badge1_hollow">
                  <span>Новости</span>
                </div>
              </div>
              <div class="card-pub__bottom">
                <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту</div>
                <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-pub">
              <div class="card-pub__photo">
                <img src="img/photo.jpg" alt="">
              </div>
              <div class="card-pub__bar">
                <div class="card-pub__date badge1 badge1_accent">
                  <span>02 июня 2025</span>
                </div>
                <div class="card-pub__type badge1 badge1_white badge1_hollow">
                  <span>Новости</span>
                </div>
              </div>
              <div class="card-pub__bottom">
                <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту</div>
                <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-pub">
              <div class="card-pub__photo">
                <img src="img/photo.jpg" alt="">
              </div>
              <div class="card-pub__bar">
                <div class="card-pub__date badge1 badge1_accent">
                  <span>02 июня 2025</span>
                </div>
                <div class="card-pub__type badge1 badge1_white badge1_hollow">
                  <span>Новости</span>
                </div>
              </div>
              <div class="card-pub__bottom">
                <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту</div>
                <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-pub">
              <div class="card-pub__photo">
                <img src="img/photo.jpg" alt="">
              </div>
              <div class="card-pub__bar">
                <div class="card-pub__date badge1 badge1_accent">
                  <span>02 июня 2025</span>
                </div>
                <div class="card-pub__type badge1 badge1_white badge1_hollow">
                  <span>Новости</span>
                </div>
              </div>
              <div class="card-pub__bottom">
                <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту</div>
                <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab-content="media" style="display: none;">
      <div class="swiper swiper-publications">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-pub">
              <div class="card-pub__photo">
                <img src="img/photo.jpg" alt="">
              </div>
              <div class="card-pub__bar">
                <div class="card-pub__date badge1 badge1_accent">
                  <span>02 июня 2025</span>
                </div>
                <div class="card-pub__type badge1 badge1_white badge1_hollow">
                  <span>Новости</span>
                </div>
              </div>
              <div class="card-pub__bottom">
                <div class="card-pub__title">
                  1Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту
                </div>
                <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-pub">
              <div class="card-pub__photo">
                <img src="img/photo.jpg" alt="">
              </div>
              <div class="card-pub__bar">
                <div class="card-pub__date badge1 badge1_accent">
                  <span>02 июня 2025</span>
                </div>
                <div class="card-pub__type badge1 badge1_white badge1_hollow">
                  <span>Новости</span>
                </div>
              </div>
              <div class="card-pub__bottom">
                <div class="card-pub__title">2Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту</div>
                <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-pub">
              <div class="card-pub__photo">
                <img src="img/photo.jpg" alt="">
              </div>
              <div class="card-pub__bar">
                <div class="card-pub__date badge1 badge1_accent">
                  <span>02 июня 2025</span>
                </div>
                <div class="card-pub__type badge1 badge1_white badge1_hollow">
                  <span>Новости</span>
                </div>
              </div>
              <div class="card-pub__bottom">
                <div class="card-pub__title">3Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту</div>
                <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-pub">
              <div class="card-pub__photo">
                <img src="img/photo.jpg" alt="">
              </div>
              <div class="card-pub__bar">
                <div class="card-pub__date badge1 badge1_accent">
                  <span>02 июня 2025</span>
                </div>
                <div class="card-pub__type badge1 badge1_white badge1_hollow">
                  <span>Новости</span>
                </div>
              </div>
              <div class="card-pub__bottom">
                <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту</div>
                <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
