<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О компании</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main about">

            <div class="breadcrumbs breadcrumbs-shops">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>О компании</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-about-partners">
                <img loading="lazy" src="img/line.svg" alt="" class="block-about-partners__line">
                <div class="container">
                    <h2 class="title2">
                        Среди наших постоянных партнёров — <span>федеральные и региональные сети, профильные магазины,
                            оружейные салоны и онлайн-платформы.</span> Мы активно развиваем дилерскую сеть и открыты к
                        новым
                        партнёрствам.
                    </h2>
                    <div class="block-about-partners__content">
                        <div class="block-about-partners__body">
                            <div class="block-about-partners__text">
                                <p>
                                    <span>ARKON</span> — это не просто поставщик продукции. Мы обеспечиваем наших
                                    партнёров всесторонней поддержкой:
                                </p>
                                <ul>
                                    <li>
                                        Предоставляем рекламные материалы: фото, видео, каталоги, описания,
                                        брендовые шаблоны
                                    </li>
                                    <li>
                                        Помогаем с оформлением витрин, размещением POS-материалов и бренд-зон
                                    </li>
                                    <li>
                                        Проводим обучение сотрудников магазинов: онлайн и офлайн
                                    </li>
                                    <li>
                                        Участвуем в мероприятиях и выставках вместе с партнёрами
                                    </li>
                                    <li>
                                        Публикуем упоминания о магазинах-партнёрах на наших платформах
                                    </li>
                                    <li>
                                        Запускаем совместные акции и розыгрыши для привлечения покупателей
                                    </li>
                                </ul>
                                <p>
                                    Мы заинтересованы в росте каждого дилера и делаем всё, чтобы техника ARKON
                                    продавалась уверенно и легко. Нам важен каждый партнёр — от крупной сети
                                    до небольшого регионального магазина.
                                </p>
                            </div>
                            <a class="btn-fancy" href="catalog.html">
                                <span>стать диллером</span>
                            </a>
                        </div>
                        <div class="block-about-partners__slider swiper">
                            <div class="block-about-partners__wrapper swiper-wrapper">
                                <div class="block-about-partners__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/partners1.webp" alt="">
                                    </div>
                                </div>
                                <div class="block-about-partners__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/partners2.webp" alt="">
                                    </div>
                                </div>
                                <div class="block-about-partners__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/partners3.webp" alt="">
                                    </div>
                                </div>
                                <div class="block-about-partners__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/partners4.webp" alt="">
                                    </div>
                                </div>
                                <div class="block-about-partners__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/partners5.webp" alt="">
                                    </div>
                                </div>
                                <div class="block-about-partners__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/partners6.webp" alt="">
                                    </div>
                                </div>
                                <div class="block-about-partners__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/partners5.webp" alt="">
                                    </div>
                                </div>
                                <div class="block-about-partners__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/partners6.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-navs">
                                <button class="swiper-nav swiper-nav_prev" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <button class="swiper-nav swiper-nav_next" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-about-photo">
                <div class="container">
                    <h2 class="title2">
                        Наша команда — это <span>инженеры, охотники, маркетологи и технические
                            специалисты,</span> объединённые одной целью: делать продукт,
                        которым можно гордиться и хочется рекомендовать.
                    </h2>
                </div>
                <div class="block-about-photo__content">
                    <div class="container">
                        <div class="block-about-photo__slider swiper">
                            <div class="block-about-photo__wrapper swiper-wrapper">
                                <a href="img/about/image1.webp" data-fancybox="gallery3"
                                    class="block-about-photo__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/image1.webp" alt="">
                                    </div>
                                </a>
                                <a href="img/about/image2.webp" data-fancybox="gallery3"
                                    class="block-about-photo__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/image2.webp" alt="">
                                    </div>
                                </a>
                                <a href="img/about/image3.webp" data-fancybox="gallery3"
                                    class="block-about-photo__slide swiper-slide corners1">
                                    <div class="corners1__inner">
                                        <img src="img/about/image3.webp" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-navs">
                                <button class="swiper-nav swiper-nav_prev" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <button class="swiper-nav swiper-nav_next" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-about-group">
                <div class="container">
                    <div class="block-about-group__content corners1">
                        <div class="corners1__inner">
                            <h2 class="title3">О группе компаний ЦЭК</h2>
                            <p>
                                ГК ЦЭК была основана в 2007 году в результате объединения компании по разработке и
                                производству оптических приборов и рекламного агентства. Более 10 лет ГЦ ЦЭК активно
                                занимается производством собственной оптической и тепловизионной продукции под торговой
                                маркой FORTUNA, а также оптово-розничной торговлей, продвижением международных брендов и
                                производителей и поставкой их продукции на территорию Российской Федерации.
                            </p>
                            <p>
                                В состав ГК ЦЭК входит несколько подразделений, среди которых: производство
                                тепловизионных
                                приборов FORTUNA, торговая площадка TUT.RU, отдел по работе с импортом
                                высококачественных
                                приборов для охоты и туризма от ведущих международных производителей, а также отдел по
                                работе с продвижением отечественной и зарубежной продукции для охотников, туристов и
                                работников служб специального назначения.
                            </p>
                            <p>
                                Подробная информация о ГК ЦЭК представлена на сайте <a
                                    href="https://cekgroup.ru/">https://cekgroup.ru/</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/feedback.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>