<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Корзина</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main cart">

            <div class="breadcrumbs breadcrumbs-cart">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Корзина</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-cart block2">
                <div class="container">
                    <div class="block-cart__content">
                        <div class="block-cart__left">
                            <div class="heading-cols1">
                                <h1 class="title2">Корзина<span>[3 товара]</span></h1>
                                <button type="button" class="btn-text btn-text_1">
                                    <span>Очистить корзину</span>
                                </button>
                            </div>
                            <div class="banner-block-cart">
                                <div class="banner-block-cart__column">
                                    <img src="img/bg-cart1.webp" alt="" class="banner-block-cart__bg">
                                    <div class="banner-block-cart__title">
                                        Бесплатная<br>
                                        доставка
                                    </div>
                                    <img src="img/cart1.webp" alt="" class="banner-block-cart__pic">
                                </div>
                                <div class="banner-block-cart__column">
                                    <img src="img/bg-cart1.webp" alt="" class="banner-block-cart__bg">
                                    <div class="banner-block-cart__title">
                                        Оплата
                                        <br>
                                        при получении
                                    </div>
                                    <img src="img/cart2.webp" alt="" class="banner-block-cart__pic">
                                </div>
                            </div>
                            <div class="banner-block-cart">
                                <div class="banner-block-cart__column">
                                    <img src="img/cart-bg2.webp" alt="" class="banner-block-cart__bg">
                                    <div class="banner-block-cart__title">
                                        Бесплатная<br>
                                        доставка
                                    </div>
                                </div>
                                <div class="banner-block-cart__column">
                                    <img src="img/cart-bg3.webp" alt="" class="banner-block-cart__bg">
                                    <div class="banner-block-cart__title">
                                        Оплата
                                        <br>
                                        при получении
                                    </div>
                                </div>
                            </div>
                            <div class="banner-block-cart transparent">
                                <div class="banner-block-cart__column">
                                    <img src="img/cart-bg5.webp" alt="" class="banner-block-cart__bg">
                                    <div class="banner-block-cart__title">
                                        Бесплатная<br>
                                        доставка
                                    </div>
                                </div>
                                <div class="banner-block-cart__column">
                                    <img src="img/cart-bg6.webp" alt="" class="banner-block-cart__bg">
                                    <div class="banner-block-cart__title">
                                        Оплата
                                        <br>
                                        при получении
                                    </div>
                                </div>
                            </div>
                            <div class="cart-product">
                                <div class="card-product">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__top">
                                            <div class="card-product__left">
                                                <div class="card-product__brand">
                                                    <img src="img/arkon-alfa2.svg" alt="">
                                                </div>
                                                <div class="card-product__name">
                                                    <a href="product-detail.html">
                                                        Тепловизионный прицел LT25
                                                        Тепловизионный прицел LT25
                                                    </a>
                                                </div>
                                                <div class="card-product__status">
                                                    <span class="card-product__status_instock">В наличии</span>
                                                </div>
                                            </div>
                                            <div class="card-product__stepcounter">
                                                <div data-stepcounter class="stepcounter stepcounter_accent">
                                                    <button class="stepcounter__btn" data-stepcounter="-" type="button">
                                                        <svg width="16" height="2" aria-hidden="true">
                                                            <use xlink:href="img/sprite.svg#minus1"></use>
                                                        </svg>
                                                    </button>
                                                    <input data-stepcounter-input class="stepcounter__input"
                                                        type="number" value="1" min="1" max="100" name="stepcounter1"
                                                        readonly="">
                                                    <button class="stepcounter__btn" data-stepcounter="+" type="button">
                                                        <svg width="16" height="16" aria-hidden="true">
                                                            <use xlink:href="img/sprite.svg#plus1"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__center">
                                            <div class="card-product__prices">
                                                <div>
                                                    <span class="card-product__price2">399 900 ₽</span>
                                                    <span class="card-product__discount">-20%</span>
                                                    <span class="card-product__price1">299 900 ₽</span>
                                                </div>
                                            </div>
                                            <span class="card-product__bonuses badge2">+ 2000 Б</span>
                                        </div>
                                        <button type="button" class="card-product__delete">
                                            <svg width="24" height="24" aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#delete"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-product">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__top">
                                            <div class="card-product__left">
                                                <div class="card-product__brand">
                                                    <img src="img/arkon-alfa2.svg" alt="">
                                                </div>
                                                <div class="card-product__name">
                                                    <a href="product-detail.html">
                                                        Тепловизионный прицел LT25
                                                        Тепловизионный прицел LT25
                                                    </a>
                                                </div>
                                                <div class="card-product__status">
                                                    <span class="card-product__status_instock">В наличии</span>
                                                </div>
                                            </div>
                                            <div class="card-product__stepcounter">
                                                <div data-stepcounter class="stepcounter stepcounter_accent">
                                                    <button class="stepcounter__btn" data-stepcounter="-" type="button">
                                                        <svg width="16" height="2" aria-hidden="true">
                                                            <use xlink:href="img/sprite.svg#minus1"></use>
                                                        </svg>
                                                    </button>
                                                    <input data-stepcounter-input class="stepcounter__input"
                                                        type="number" value="1" min="1" max="100" name="stepcounter1"
                                                        readonly="">
                                                    <button class="stepcounter__btn" data-stepcounter="+" type="button">
                                                        <svg width="16" height="16" aria-hidden="true">
                                                            <use xlink:href="img/sprite.svg#plus1"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__center">
                                            <div class="card-product__prices">
                                                <div>
                                                    <span class="card-product__price2">399 900 ₽</span>
                                                    <span class="card-product__discount">-20%</span>
                                                    <span class="card-product__price1">299 900 ₽</span>
                                                </div>
                                            </div>
                                            <span class="card-product__bonuses badge2">+ 2000 Б</span>
                                        </div>
                                        <button type="button" class="card-product__delete">
                                            <svg width="24" height="24" aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#delete"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-product">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/product1.webp" alt="">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__top">
                                            <div class="card-product__left">
                                                <div class="card-product__brand">
                                                    <img src="img/arkon-alfa2.svg" alt="">
                                                </div>
                                                <div class="card-product__name">
                                                    <a href="product-detail.html">
                                                        Тепловизионный прицел LT25
                                                        Тепловизионный прицел LT25
                                                    </a>
                                                </div>
                                                <div class="card-product__status">
                                                    <span class="card-product__status_instock">В наличии</span>
                                                </div>
                                            </div>
                                            <div class="card-product__stepcounter">
                                                <div data-stepcounter class="stepcounter stepcounter_accent">
                                                    <button class="stepcounter__btn" data-stepcounter="-" type="button">
                                                        <svg width="16" height="2" aria-hidden="true">
                                                            <use xlink:href="img/sprite.svg#minus1"></use>
                                                        </svg>
                                                    </button>
                                                    <input data-stepcounter-input class="stepcounter__input"
                                                        type="number" value="1" min="1" max="100" name="stepcounter1"
                                                        readonly="">
                                                    <button class="stepcounter__btn" data-stepcounter="+" type="button">
                                                        <svg width="16" height="16" aria-hidden="true">
                                                            <use xlink:href="img/sprite.svg#plus1"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__center">
                                            <div class="card-product__prices">
                                                <div>
                                                    <span class="card-product__price2">399 900 ₽</span>
                                                    <span class="card-product__discount">-20%</span>
                                                    <span class="card-product__price1">299 900 ₽</span>
                                                </div>
                                            </div>
                                            <span class="card-product__bonuses badge2">+ 2000 Б</span>
                                        </div>
                                        <button type="button" class="card-product__delete">
                                            <svg width="24" height="24" aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#delete"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail-cart">
                            <div class="detail-cart__sticky">
                                <div class="detail-cart__title">
                                    Детали заказа
                                </div>
                                <ul class="detail-cart__list">
                                    <li>
                                        <div class="detail-cart__name">3 товара</div>
                                        <div class="detail-cart__value">1 199 700 ₽</div>
                                    </li>
                                    <li>
                                        <div class="detail-cart__name grey">Скидка</div>
                                        <div class="detail-cart__value red">-300 000 ₽</div>
                                    </li>
                                    <li>
                                        <div class="detail-cart__name grey">2 товара</div>
                                        <div class="detail-cart__value">+ 2000 Б</div>
                                    </li>
                                    <li>
                                        <div class="detail-cart__name grey">Доставка</div>
                                        <div class="detail-cart__value">900 ₽</div>
                                    </li>
                                </ul>
                                <div class="detail-cart__totals">
                                    <div class="detail-cart__total">Итого к оплате:</div>
                                    <div class="detail-cart__sum">899 799 ₽</div>
                                </div>
                                <a href="order.html" class="btn">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-fixed">
                <div class="card-product__prices">
                    <div>
                        <span class="card-product__price2">399 900 ₽</span>
                        <span class="card-product__discount">-20%</span>
                        <span class="card-product__price1">299 900 ₽</span>
                    </div>
                </div>
                <a href="order.html" class="btn">Оформить заказ</a>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>