<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main map">

            <div class="breadcrumbs breadcrumbs-contacts">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Контакты</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-contacts">
                <div class="container">
                    <div class="block-contacts__content">
                        <div class="block-contacts__body">
                            <div class="block-contacts__column corners1">
                                <div class="corners1__inner">
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__title">
                                            Наш офис в Москве
                                        </div>
                                        <div class="block-contacts__bottom">
                                            <div class="block-contacts__location">
                                                <svg aria-hidden="true" width="13" height="16">
                                                    <use xlink:href="img/sprite.svg#location1"></use>
                                                </svg>
                                                <span>Москва, улица Киевская, 22</span>
                                            </div>
                                            <div class="block-contacts__items">
                                                <div class="block-contacts__left">
                                                    <div class="block-contacts__phone">
                                                        <a href="tel:84952293993">8 (495) 229-39-93</a>
                                                        <span>Пн-Пт 09:00 – 19:00 Мск</span>
                                                    </div>
                                                    <a href="mailto:info@arkonoptics.ru"
                                                        class="block-contacts__mail">info@arkonoptics.ru</a>
                                                </div>
                                                <a href="#" data-hystmodal="#details" class="btn-text btn-text_1">
                                                    <span>Наши
                                                        реквизиты</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-contacts__column corners1">
                                <div class="corners1__inner">
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__title">
                                            сервисный центр
                                        </div>
                                        <div class="block-contacts__bottom">
                                            <div class="block-contacts__location">
                                                <svg aria-hidden="true" width="13" height="16">
                                                    <use xlink:href="img/sprite.svg#location1"></use>
                                                </svg>
                                                <span>Москва, ул. Полимерная, д. 8, стр. 2</span>
                                            </div>
                                            <div class="block-contacts__items">
                                                <div class="block-contacts__left">
                                                    <div class="block-contacts__phone">
                                                        <a href="tel:89637221507">8 (963) 722-15-07</a>
                                                        <span>Пн-Пт 09:00 – 19:00 Мск</span>
                                                    </div>
                                                    <a href="mailto:service@arkonoptics.ru"
                                                        class="block-contacts__mail">service@arkonoptics.ru</a>
                                                </div>
                                                <a href="#" data-hystmodal="#details" class="btn-text btn-text_1">
                                                    <span>Как добраться</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-contacts__map corners1">
                            <div class="corners1__inner">
                                <div id="map3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/feedback.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b71f8801-d131-4c34-8869-00b3975108f5&lang=ru_RU"></script>
    {% include 'blocks/popups.njk' %}
    <div class="hystmodal" id="details" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <div class="hystmodal__top">
                    <div class="hystmodal__title">
                        Наши реквизиты
                    </div>
                    <button data-hystclose class="hystmodal__close">
                        <svg aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                        <span class="v-h">Закрыть</span>
                    </button>
                </div>
                <div class="details-hystmodal">
                    <div class="details-hystmodal__subtitle">
                        Общество с ограничеснной ответственностью “ЦЭК”
                    </div>
                    <ul>
                        <li>121165, г. Москва, ул. Киевская, д. 22, помещ. 3/1</li>
                        <li><span>ИНН:</span> 7733626391</li>
                        <li><span>Р/счет:</span> 40702810043022085201</li>
                        <li><span>Банк:</span> ПАО «Банк ПСБ»</li>
                        <li><span>ИНН банка:</span> 7744000912</li>
                        <li><span>Кор/счет:</span> 30101810400000000555</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>