<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Доставка и оплата</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs breadcrumbs-documentation">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Доставка и оплата</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-support delivery">
                <div class="container">
                    <h1 class="title1">
                        Доставка и оплата
                    </h1>
                    <div class="delivery-spollers">
                        <div class="delivery-spollers__content">
                            <div class="delivery-spollers__title">Виды оплаты</div>
                            <div data-spollers class="delivery-spollers__grid">
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment1.svg" alt="">
                                            <span>Наличными</span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment2.svg" alt="">
                                            <span>Банковской картой через сайт </span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment3.svg" alt="">
                                            <span>Наложенным платежом </span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment4.svg" alt="">
                                            <span>Рассрочка 0-0-10 </span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment5.svg" alt="">
                                            <span>Безналичная оплата </span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment8.svg" alt="">
                                            <span>Банковской картой при получении </span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>

                                            Укажите в процессе оформления заказа способ оплаты «Картой при получении»,
                                            если хотите оплатить товар банковской картой через терминал при получении
                                            заказа. Такой способ оплаты доступен при доставке курьерской службой
                                            магазина по Москве и при самостоятельном получении товара в пункте
                                            самовывоза. Наши терминалы поддерживают оплату картами Visa, Mastercard,
                                            Maestro и МИР, бесконтактную оплату картами Visa payWave и Mastercard
                                            PayPass, а также платежи с мобильных устройств Android Pay, Apple Pay и
                                            Samsung Pay.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment6.svg" alt="">
                                            <span>Подарочный сертификат </span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment7.svg" alt="">
                                            <span>Юридическим лицам </span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-spollers__content">
                            <div class="delivery-spollers__title">Варианты и условия доставки</div>
                            <div data-spollers class="delivery-spollers__grid">
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/payment3.svg" alt="">
                                            <span>Самовывоз</span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/cdek.svg" alt="">
                                            <span>СДЭК</span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                                <div class="delivery-spollers__item">
                                    <div data-spoller class="delivery-spollers__button">
                                        <div class="delivery-spollers__name">
                                            <img src="img/pochta.svg" alt="">
                                            <span>Почта России</span>
                                        </div>
                                        <div class="delivery-spollers__arrow">
                                            <svg aria-hidden="true" width="10" height="16">
                                                <use xlink:href="img/sprite.svg#chevron1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="delivery-spollers__body">
                                        <p>
                                            Оплата производится на основании выставленного счета путем перечисления
                                            денежных средств через любой банк по реквизитам, указанным в счете. Отгрузка
                                            товара осуществляется по факту прихода денежных средств на расчетный счет.
                                            По платежным поручениям заказ не отгружается. Вместе с товаром заказчику
                                            предоставляется товарная накладная.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>