<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Личный кабинет</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main cart">

            <div class="breadcrumbs breadcrumbs-cabinet">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Личный кабинет</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-personal-cabinet">
                <div class="container">
                    <h1 class="title2">Личный кабинет</h1>
                </div>
                <div class="block-personal-cabinet__content">
                    <div class="container">
                        <div class="block-personal-cabinet__body">
                            <div class="left-personal-cabinet">
                                <div class="left-personal-cabinet__sticky">
                                    <ul>
                                        <li>
                                            <a href="#" class="_active">Мои данные</a>
                                        </li>
                                        <li>
                                            <a href="#">Мои заказы</a>
                                        </li>
                                        <li>
                                            <a href="#">Мои бонусы</a>
                                        </li>
                                        <li>
                                            <a href="#">История покупок</a>
                                        </li>
                                        <li>
                                            <a href="#">Избранное</a>
                                        </li>
                                        <li>
                                            <a href="#">Лист ожидания</a>
                                        </li>
                                        <li>
                                            <a href="#">Обратная связь</a>
                                        </li>
                                        <li>
                                            <a href="#">Управление подписками</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="right-personal-cabinet">
                                <div class="right-personal-cabinet__column">
                                    <div class="right-personal-cabinet__top">
                                        <div class="right-personal-cabinet__title">
                                            Персональные данные
                                        </div>
                                        <a href="edit-details.html" class="btn-text btn-text_1">
                                            <span>Редактировать данные</span>
                                        </a>
                                    </div>
                                    <div class="details-personal-cabinet">
                                        <div class="details-personal-cabinet__column corners1">
                                            <div class="corners1__inner">
                                                <div class="details-personal-cabinet__item">
                                                    <div class="details-personal-cabinet__name">Фамилия</div>
                                                    <div class="details-personal-cabinet__value">Иванов</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details-personal-cabinet__column corners1">
                                            <div class="corners1__inner">
                                                <div class="details-personal-cabinet__item">
                                                    <div class="details-personal-cabinet__name">E-mail</div>
                                                    <div class="details-personal-cabinet__value">ivanov@mail.ru</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details-personal-cabinet__column corners1">
                                            <div class="corners1__inner">
                                                <div class="details-personal-cabinet__item">
                                                    <div class="details-personal-cabinet__name">Имя</div>
                                                    <div class="details-personal-cabinet__value">Михаил</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details-personal-cabinet__column corners1">
                                            <div class="corners1__inner">
                                                <div class="details-personal-cabinet__item">
                                                    <div class="details-personal-cabinet__name">Телефон</div>
                                                    <div class="details-personal-cabinet__value">+7 (925) 123-45-67
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details-personal-cabinet__column corners1">
                                            <div class="corners1__inner">
                                                <div class="details-personal-cabinet__item">
                                                    <div class="details-personal-cabinet__name">Отчество</div>
                                                    <div class="details-personal-cabinet__value">Евгеньевич</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details-personal-cabinet__column corners1">
                                            <div class="corners1__inner">
                                                <div class="details-personal-cabinet__item">
                                                    <div class="details-personal-cabinet__name">Пол</div>
                                                    <div class="details-personal-cabinet__value">мужской</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details-personal-cabinet__column corners1">
                                            <div class="corners1__inner">
                                                <div class="details-personal-cabinet__item">
                                                    <div class="details-personal-cabinet__name">Дата рождения</div>
                                                    <div class="details-personal-cabinet__value">50</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-personal-cabinet__column">
                                    <div class="right-personal-cabinet__top">
                                        <div class="right-personal-cabinet__title">
                                            Пароль
                                        </div>
                                        <a href="edit-details.html" class="btn-text btn-text_1">
                                            <span>Изменить пароль</span>
                                        </a>
                                    </div>
                                    <div class="details-personal-cabinet">
                                        <div data-validate class="details-personal-cabinet__column corners1">
                                            <div class="corners1__inner">
                                                <div class="form-group1">
                                                    <input id="feedback_password4"
                                                        class="field-input1 form-group__field" data-type="password"
                                                        type="password" name="feedback_password4" required
                                                        value="123456" placeholder=" ">
                                                    <div class="form-group1__icon toggle-password">
                                                        <img src="img/password.svg" alt="">
                                                    </div>
                                                    <div class="form-group1__icon hidden toggle-password open">
                                                        <img src="img/password2.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-personal-cabinet__column">
                                    <div class="right-personal-cabinet__top">
                                        <div class="right-personal-cabinet__title">
                                            Мои адреса
                                        </div>
                                        <a href="#" class="btn-text btn-text_1">
                                            <span>Добавить адрес</span>
                                        </a>
                                    </div>
                                    <div class="address-personal-cabinet">
                                        <div class="address-personal-cabinet__tables">
                                            <div class="address-personal-cabinet__main-table">
                                                <div class="address-personal-cabinet__value">
                                                    №
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    Адрес
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    Регион
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    Город
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    Индекс
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    Подъезд
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    Этаж
                                                </div>
                                                <div class="address-personal-cabinet__value">

                                                </div>
                                            </div>
                                            <div class="address-personal-cabinet__table">
                                                <div class="address-personal-cabinet__value">
                                                    1
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    р-н Москворечье-Сабурово,<br> улица Кошкина д.12, к.3,<br> кв.123
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    Москва
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    Москва
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    115409
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    4
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    14
                                                </div>
                                                <div class="address-personal-cabinet__value">
                                                    <button data-hystclose class="address-personal-cabinet__close">
                                                        <svg aria-hidden="true" width="8" height="8">
                                                            <use xlink:href="img/sprite.svg#close1"></use>
                                                        </svg>
                                                        <span class="v-h">Закрыть</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-personal-cabinet__column">
                                    <div class="right-personal-cabinet__top">
                                        <div class="right-personal-cabinet__title">
                                            Социальные сети
                                        </div>
                                    </div>
                                    <div class="socials-login">
                                        <div class="socials-login__type badge1 badge1_white badge1_hollow">
                                            <span>Привязать аккаунт</span>
                                        </div>
                                        <div class="socials-login__buttons">
                                            <a href="#" class="socials-login__button">Яндекс</a>
                                            <a href="#" class="socials-login__button">Google</a>
                                            <a href="#" class="socials-login__button">Вконтакте</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>