<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Обмен и возврат</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs breadcrumbs-documentation">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Обмен и возврат</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-support exchange">
                <div class="container">
                    <h1 class="title1">
                        Обмен и возврат
                    </h1>
                    <div class="block-support__content">
                        <div class="block-support__text">
                            <p>
                                В случае приобретения товара в нашем магазине через Московский офис обмен (возврат)
                                товара
                                происходит исключительно в офисе нашей компании ООО «ЦЭК», расположенном по адресу:
                                117335,
                                Россия, г. Москва, ул. Вавилова 69/75, Оружейный Молл «ВАВИЛОН», Магазин "TUT.RU" с
                                понедельника по пятницу с 9.00 до 18.00.
                            </p>
                            <p>
                                В случае приобретения товара в нашем магазине через Питерский офис обмен (возврат)
                                товара
                                происходит исключительно в офисе нашей компании ООО «СПб Тут Ру», расположенном по
                                адресу:
                                194044, г. Санкт-Петербург, Б. Сампсониевский пр-т д. 60, литер Б. с понедельника по
                                пятницу
                                с 9.00 до 18.00.
                            </p>
                            <p>
                                При возврате товара надлежащего качества магазин возвращает только стоимость товара, при
                                этом стоимость доставки товара возврату не подлежит.
                            </p>
                            <p>
                                Согласно ст. 502 ГК Российской Федерации и ст. 25 Закона о защите прав потребителей
                                потребитель вправе обменять непродовольственный товар надлежащего качества на
                                аналогичный
                                товар у продавца, у которого этот товар был приобретен в течении 14 дней, не считая дня
                                его
                                покупки.
                            </p>
                            <p>
                                В указанный срок включаются все выходные и праздничные дни, поэтому, если потребитель
                                приобрел вещь, заведомо сомневаясь, подойдет ли она ему, лучше сразу определить день,
                                являющийся последним (или предпоследним для предъявления требований об обмене). При этом
                                следует учитывать, что в соответствии со ст. 193 Гражданского кодекса Российской
                                Федерации,
                                если последний день срока приходится на нерабочий день, днем окончания срока считается
                                ближайший за ним рабочий день. Таким образом, если 14 день попадет на воскресенье, то
                                последним днем для предъявления претензий об обмене товара будет являться понедельник.
                            </p>
                        </div>
                        <div class="block-support__column corners1">
                            <div class="corners1__inner">
                                <div class="block-support__item">
                                    <div class="block-support__title">
                                        Для того чтобы реализовать указанное право, потребителем должны быть соблюдены
                                        следующие условия: товар не подошел по
                                    </div>
                                    <ul>
                                        <li>форме</li>
                                        <li>габаритам</li>
                                        <li>фасону</li>
                                        <li>расцветке</li>
                                        <li>размеру</li>
                                        <li>комплектации</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block-support__text">
                            <p>
                                Перечень оснований, по которым товар может не подойти потребителю, является
                                исчерпывающим и
                                расширительному толкованию не подлежит. Поэтому при обращении к продавцу необходимо
                                ссылаться только на одну или несколько причин, которые перечислены выше. В противном
                                случае
                                потребитель рискует получить вполне обоснованный и законный отказ продавца удовлетворить
                                требование.
                            </p>
                            <p>
                                Обмен непродовольственного товара надлежащего качества проводится, если указанный товар
                                не
                                был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы,
                                фабричные
                                ярлыки, а также имеется товарный чек или кассовый чек, либо иной подтверждающий оплату
                                указанного товара документ. Отсутствие у потребителя товарного чека или кассового чека
                                либо
                                иного подтверждающего оплату товара документа не лишает его возможности ссылаться на
                                свидетельские показания.
                            </p>
                            <p>
                                Важным условием обмена или возврата товара надлежащего качества является отсутствие
                                приобретенного товара в перечне товаров, не подлежащих обмену по вышеназванным
                                основаниям.
                            </p>
                            <p>
                                Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или
                                обмену
                                на аналогичный товар других размера, формы, габарита, фасона, расцветки или
                                комплектации,
                                утвержден Постановлением Правительства Российской Федерации от 19.01.1998 № 55.
                            </p>
                        </div>
                        <div class="block-support__texts">
                            <div class="block-support__title">
                                В указанный Перечень включены следующие группы товаров:
                            </div>
                            <ul>
                                <li>
                                    Товары для профилактики и лечения заболеваний в домашних условиях (предметы
                                    санитарии и гигиены из металла, резины, текстиля и других материалов, инструменты,
                                    приборы и аппаратура медицинские, средства гигиены полости рта, линзы очковые,
                                    предметы по уходу за детьми, лекарственные препараты).
                                </li>
                                <li>
                                    Предметы личной гигиены (зубные щетки, расчески, заколки, бигуди для волос, парики,
                                    шиньоны и другие аналогичные товары).
                                </li>
                                <li>
                                    Предметы личной гигиены (зубные щетки, расчески, заколки, бигуди для волос, парики,
                                    шиньоны и другие аналогичные товары).
                                </li>
                                <li>
                                    Товары для профилактики и лечения заболеваний в домашних условиях (предметы
                                    санитарии и гигиены из металла, резины, текстиля и других материалов, инструменты,
                                    приборы и аппаратура медицинские, средства гигиены полости рта, линзы очковые,
                                    предметы по уходу за детьми, лекарственные препараты).
                                </li>
                                <li>
                                    Предметы личной гигиены (зубные щетки, расчески, заколки, бигуди для волос, парики,
                                    шиньоны и другие аналогичные товары).
                                </li>
                            </ul>
                        </div>
                        <div class="block-support__text">
                            <p>
                                Однако, даже если все эти условия соблюдены, потребитель не может сразу заявить, что
                                хочет вернуть товар, ведь в Законе о защите прав потребителей предусматривается право на
                                обмен товара надлежащего качества, не подходящего потребителю по указанным выше
                                причинам.
                                <br>
                                В соответствии с п. 2 ст. 25 Закона о защите прав потребителей - отказаться от
                                исполнения договора купли-продажи и потребовать возврата уплаченной за указанный товар
                                денежной суммы потребитель вправе только в случае, если аналогичный товар отсутствует в
                                продаже на день обращения потребителя к продавцу. Требование потребителя о возврате
                                уплаченной за указанный товар денежной суммы подлежит удовлетворению в течение трех дней
                                со дня возврата указанного товара.<br>
                                В соответствии с п. 4 ст. 26.1 Закона о защите прав потребителей о Дистанционном способе
                                продажи товара - потребитель вправе отказаться от товара в любое время до его передачи,
                                а после передачи товара - в течение семи дней.<br>
                                В случае, если информация о порядке и сроках возврата товара надлежащего качества не
                                была предоставлена в письменной форме в момент доставки товара, потребитель вправе
                                отказаться от товара в течение трех месяцев с момента передачи товара.
                                Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид,
                                потребительские свойства, а также документ, подтверждающий факт и условия покупки
                                указанного товара. Отсутствие у потребителя документа, подтверждающего факт и условия
                                покупки товара, не лишает его возможности ссылаться на другие доказательства
                                приобретения товара у данного продавца.<br>
                                Потребитель не вправе отказаться от товара надлежащего качества, имеющего
                                индивидуально-определенные свойства, если указанный товар может быть использован
                                исключительно приобретающим его потребителем.<br>
                                При отказе потребителя от товара продавец должен возвратить ему денежную сумму,
                                уплаченную потребителем по договору, за исключением расходов продавца на доставку от
                                потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления
                                потребителем соответствующего требования.<br>
                                Таким образом, потребителю до предъявления требования продавцу по вопросу обмена
                                (возврата) товара надлежащего качества следует определить, согласуются ли его желания с
                                правами, предоставленными действующим законодательством, и правами, предоставленными
                                продавцу. И только проанализировав вышеуказанные моменты, имеет смысл предъявлять четко
                                сформулированное требование.
                            </p>
                        </div>
                        <div class="block-support__column column2 corners1">
                            <div class="corners1__inner">
                                <div class="block-support__item item2">
                                    <div class="block-support__items">
                                        <div class="block-support__title">
                                            Порядок оформления обмена (возврата)
                                        </div>
                                        <p>
                                            Для жителей Москвы и ближайшего Подмосковья, которые приобретали товар
                                            самовывозом в нашем магазине или расплачивались наличными с курьером при
                                            получении товара:
                                            Для того, чтобы получить возврат денежных средств наличными в нашем
                                            магазине, необходимо:
                                        </p>
                                        <ul class="number">
                                            <li>
                                                <div class="block-support__number">
                                                    1
                                                </div>
                                                <span>
                                                    Сообщить о своем намерении вернуть/обменять товар нашему менеджеру
                                                    устно по телефону +7 (495) 649-60-39 или по электронной почте
                                                    info@tut.ru
                                                </span>
                                            </li>
                                            <li>
                                                <div class="block-support__number">
                                                    2
                                                </div>
                                                <span>
                                                    Заполнить соответствующее заявление на возврат товара.
                                                </span>
                                            </li>
                                            <li class="cards">
                                                <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                                    class="block-documentation__column">
                                                    <div class="block-documentation__icon">
                                                        <img loading="lazy" src="img/pdf.svg" alt="">
                                                    </div>
                                                    <span>
                                                        Заявление (безнал - Физ. лицо) на возврат денег за товар
                                                    </span>
                                                </a>
                                                <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                                    class="block-documentation__column">
                                                    <div class="block-documentation__icon">
                                                        <img loading="lazy" src="img/pdf.svg" alt="">
                                                    </div>
                                                    <span>
                                                        Заявление (безнал - Юр. лицо) на возврат денег за товар
                                                    </span>
                                                </a>
                                                <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                                    class="block-documentation__column">
                                                    <div class="block-documentation__icon">
                                                        <img loading="lazy" src="img/pdf.svg" alt="">
                                                    </div>
                                                    <span>
                                                        Заявление (наличные) на возврат денег за товар
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="block-support__number">
                                                    3
                                                </div>
                                                <span>
                                                    К заполненному заявлению приложить товарный или кассовый чек,
                                                    подтверждающие приобретение товара в нашем магазине.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block-support__items">
                                        <p>
                                            Отсутствие у Вас кассового или товарного чека, либо иного документа,
                                            удостоверяющих факт и условия покупки товара, не является основанием для
                                            отказа в удовлетворении Ваших требований. Однако мы оставляем за собой право
                                            проверить факт приобретения товара в нашем магазине.
                                        </p>
                                        <ul class="number">
                                            <li>
                                                <div class="block-support__number">
                                                    1
                                                </div>
                                                <span>
                                                    Иметь при себе приобретенный в нашем интернет-магазине товар.
                                                </span>
                                            </li>
                                            <li>
                                                <div class="block-support__number">
                                                    2
                                                </div>
                                                <span>
                                                    Иметь при себе документ, удостоверяющий личность.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block-support__items">
                                        <div class="block-support__title2">
                                            Возврат товара, полученного Почтой России
                                        </div>
                                        <p>
                                            Возврат товара, полученного Почтой России, через транспортную компанию «EMS
                                            почта России» или другую транспортную компанию.
                                            К возврату принимаются только товары, приобретенные в магазине, и только от
                                            лица, которое приобрело этот товар.
                                            Ответственность за товар до его получения нашим магазином лежит на
                                            покупателе.
                                        </p>
                                        <ul class="number">
                                            <li>
                                                <div class="block-support__number">
                                                    1
                                                </div>
                                                <span>
                                                    Сообщить о своем намерении вернуть/обменять товар нашему менеджеру
                                                    устно по телефону +7 (495) 649-60-39 или по электронной почте
                                                    info@tut.ru
                                                </span>
                                            </li>
                                            <li>
                                                <div class="block-support__number">
                                                    2
                                                </div>
                                                <span>
                                                    Покупатель в семидневный срок после получения товара направляет
                                                    Почтой России заявление на возврат товара, товары, ксерокопию
                                                    паспорта и ксерокопию сберегательной книжки с указанными
                                                    реквизитами, на которые будет произведен возврат денежных средств
                                                    (или банковскую выписку с реквизитами банковской карты, на которую
                                                    требуется перечислить денежные средства) на адрес магазина: 117335,
                                                    г. Москва, ул. Вавилова, д.69/75, получатель ТД Спеко Трейд.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block-support__items">
                                        <div class="block-support__title2">
                                            Возврат товара, купленного в шоуруме
                                        </div>
                                        <p>
                                            Так же вы можете отправить товар, купленный в шоуруме, со всеми необходимыми
                                            документами любой курьерской службой, которая производит доставку «до двери»
                                            (EMS почта России, Мейджер Экспресс, Пони Экспресс и пр.) по адресу 117335,
                                            г. Москва, ул. Вавилова, д.69/75, получатель ТД Спеко Трейд, телефон +7
                                            (800) 555-57-98.
                                        </p>
                                        <ul class="number">
                                            <li>
                                                <div class="block-support__number">
                                                    1
                                                </div>
                                                <span>
                                                    Возврат должен быть оформлен вами как ценная посылка. Не отправляйте
                                                    посылку наложенным платежом.
                                                </span>
                                            </li>
                                            <li>
                                                <div class="block-support__number">
                                                    2
                                                </div>
                                                <span>
                                                    Заявление рассматривается в течение двух дней после получения
                                                    возврата и, при положительном решении, денежные средства возмещаются
                                                    в десятидневный срок тем способом, который покупатель отметил в
                                                    заявлении.
                                                </span>
                                            </li>
                                            <li>
                                                <div class="block-support__number">
                                                    3
                                                </div>
                                                <span>
                                                    Стоимость доставки возвращаемого товара до пункта возврата
                                                    оплачивает покупатель.
                                                </span>
                                            </li>
                                            <li>
                                                <div class="block-support__number">
                                                    4
                                                </div>
                                                <span>
                                                    При возврате интернет-заказа, в строке адрес получателя следует
                                                    прописать 121165, г. Москва, ул. Киевская, д.24, получатель ООО
                                                    «ЦЭК», телефон +7 (495) 649-60-39.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-support__texts">
                            <div class="block-support__title">
                                Для юридических лиц и индивидуальных предпринимателей
                            </div>
                            <p>
                                Обмен и возврат технически сложного товара надлежащего качества для Вас, как для
                                юридического лица, не предусмотрен действующим законодательством. Отказаться от
                                исполнения договора купли-продажи и потребовать возврата уплаченной за товар денежной
                                суммы или потребовать замены товара ненадлежащего качества Вы можете только в случае
                                существенного нарушения требований к качеству товара (обнаружения неустранимых
                                недостатков, недостатков, которые не могут быть устранены без несоразмерных расходов или
                                затрат времени, или выявляются неоднократно, либо проявляются вновь после их устранения,
                                и других подобных недостатков). Существенное нарушение качества товара должно быть
                                подтверждено заключением (актом и др.) сервисного центра. В иных случаях, при наличии
                                гарантийного обязательства продавца или производителя, Вы имеете право на гарантийный
                                ремонт товара.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>