<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Медиа - детальная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs breadcrumbs-detail">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="media.html">
                                Медиа
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по
                                спортинг-компакту</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-media-detail">
                <div class="container">
                    <div class="block-media-detail__content">
                        <div class="block-media-detail__left">
                            <div class="block-media-detail__sticky">
                                <a href="media.html" class="back">
                                    <svg aria-hidden="true" width="21" height="18">
                                        <use xlink:href="img/sprite.svg#arrow4"></use>
                                    </svg>
                                    <span>Назад к медиа</span>
                                </a>
                                <div class="card-pub__bar">
                                    <div class="card-pub__date badge1 badge1_accent">
                                        <span>02 июня 2025</span>
                                    </div>
                                    <div class="card-pub__type badge1 badge1_white badge1_hollow">
                                        <span>Новости</span>
                                    </div>
                                </div>
                                <div class="block-media-detail__share">
                                    <div class="block-media-detail__share-title">Поделиться:</div>
                                    <div class="socials">
                                        <a target="_blank" href="https://vk.com/club208932370">
                                            <svg class="location-string__icon" aria-hidden="true" width="40"
                                                height="40">
                                                <use xlink:href="img/sprite.svg#social-vk"></use>
                                            </svg>
                                        </a>
                                        <a target="_blank" href="https://vk.com/club208932370">
                                            <svg class="location-string__icon" aria-hidden="true" width="40"
                                                height="40">
                                                <use xlink:href="img/sprite.svg#social-tg"></use>
                                            </svg>
                                        </a>
                                        <a target="_blank" href="https://vk.com/club208932370">
                                            <svg class="location-string__icon" aria-hidden="true" width="40"
                                                height="40">
                                                <use xlink:href="img/sprite.svg#social-yt"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-media-detail__right">
                            <h2 class="title2">
                                Горячая новинка этого года – новые приборы Arkon серии Alfa!
                            </h2>
                            <div class="block-media-detail__image corners1">
                                <a href="files/videos/video.mp4" data-fancybox="video2" class="corners1__inner">
                                    <img loading="lazy" src="img/image1.webp" alt="">
                                    <div class="play">
                                        <span class="play__sq1">
                                            <span class="play__sq2">
                                                <span class="play__hover1">
                                                    <span class="play__hover2">
                                                        <svg aria-hidden="true" width="19" height="20">
                                                            <use xlink:href="img/sprite.svg#play"></use>
                                                        </svg>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="block-publications block-publications-other">
                <div class="container">
                    <div class="heading-cols1">
                        <h2 class="title2">Похожие публицации</h2>
                    </div>
                    <div class="swiper swiper-publications">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="card-pub">
                                    <div class="card-pub__photo">
                                        <img src="img/photo.jpg" alt="">
                                    </div>
                                    <div class="card-pub__bar">
                                        <div class="card-pub__date badge1 badge1_accent">
                                            <span>02 июня 2025</span>
                                        </div>
                                        <div class="card-pub__type badge1 badge1_white badge1_hollow">
                                            <span>Новости</span>
                                        </div>
                                    </div>
                                    <div class="card-pub__bottom">
                                        <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа
                                            Кубка России по спортинг-компакту</div>
                                        <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба
                                            "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного
                                            сезона на базе стрелкового клуба "Ловчий +"</div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-pub">
                                    <div class="card-pub__photo">
                                        <img src="img/photo.jpg" alt="">
                                    </div>
                                    <div class="card-pub__bar">
                                        <div class="card-pub__date badge1 badge1_accent">
                                            <span>02 июня 2025</span>
                                        </div>
                                        <div class="card-pub__type badge1 badge1_white badge1_hollow">
                                            <span>Новости</span>
                                        </div>
                                    </div>
                                    <div class="card-pub__bottom">
                                        <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа
                                            Кубка России по спортинг-компакту</div>
                                        <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба
                                            "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного
                                            сезона на базе стрелкового клуба "Ловчий +"</div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-pub">
                                    <div class="card-pub__photo">
                                        <img src="img/photo.jpg" alt="">
                                    </div>
                                    <div class="card-pub__bar">
                                        <div class="card-pub__date badge1 badge1_accent">
                                            <span>02 июня 2025</span>
                                        </div>
                                        <div class="card-pub__type badge1 badge1_white badge1_hollow">
                                            <span>Новости</span>
                                        </div>
                                    </div>
                                    <div class="card-pub__bottom">
                                        <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа
                                            Кубка России по спортинг-компакту</div>
                                        <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба
                                            "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного
                                            сезона на базе стрелкового клуба "Ловчий +"</div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-pub">
                                    <div class="card-pub__photo">
                                        <img src="img/photo.jpg" alt="">
                                    </div>
                                    <div class="card-pub__bar">
                                        <div class="card-pub__date badge1 badge1_accent">
                                            <span>02 июня 2025</span>
                                        </div>
                                        <div class="card-pub__type badge1 badge1_white badge1_hollow">
                                            <span>Новости</span>
                                        </div>
                                    </div>
                                    <div class="card-pub__bottom">
                                        <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа
                                            Кубка России по спортинг-компакту</div>
                                        <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба
                                            "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного
                                            сезона на базе стрелкового клуба "Ловчий +"</div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-pub">
                                    <div class="card-pub__photo">
                                        <img src="img/photo.jpg" alt="">
                                    </div>
                                    <div class="card-pub__bar">
                                        <div class="card-pub__date badge1 badge1_accent">
                                            <span>02 июня 2025</span>
                                        </div>
                                        <div class="card-pub__type badge1 badge1_white badge1_hollow">
                                            <span>Новости</span>
                                        </div>
                                    </div>
                                    <div class="card-pub__bottom">
                                        <div class="card-pub__title">Итоги "Большого приза Тольятти 2025" и 3 этапа
                                            Кубка России по спортинг-компакту</div>
                                        <div class="card-pub__preview">С 25 по 27 апреля на базе стрелкового клуба
                                            "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного
                                            сезона на базе стрелкового клуба "Ловчий +"</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-navs">
                            <button class="swiper-nav swiper-nav_prev" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                            <button class="swiper-nav swiper-nav_next" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="block-recommend block-recommend-sale sale2">
                <div class="container">
                    <div class="heading-cols1">
                        <h2 class="title2">Товары принимающие участие в акции</h2>
                    </div>
                    <div class="swiper swiper-recommend swiper-recommend2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-price.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-timer.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-noprice.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-timer.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-timer.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-timer.njk' %}
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-navs">
                            <button class="swiper-nav swiper-nav_prev" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                            <button class="swiper-nav swiper-nav_next" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>