<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Тепловизионный прицел ARKON Alfa LT35</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main product">

            <div class="breadcrumbs breadcrumbs-product">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="catalog.html">
                                Каталог
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="catalog-detail.html">
                                Тепловизионные прицелы
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Тепловизионный прицел ARKON Alfa LT35</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-product-detail">
                <div class="title2 title-mob">Тепловизорный прицел LT35</div>
                <div class="top-product-detail">
                    <div class="container">
                        <div class="top-product-detail__slider swiper">
                            <div class="top-product-detail__wrapper swiper-wrapper">
                                <div class="top-product-detail__slide swiper-slide">
                                    <img src="img/product1.webp" alt="" class="top-product-detail__pic">
                                </div>
                                <div class="top-product-detail__slide swiper-slide">
                                    <img src="img/product2.webp" alt="" class="top-product-detail__pic">
                                </div>
                                <div class="top-product-detail__slide swiper-slide">
                                    <img src="img/product1.webp" alt="" class="top-product-detail__pic">
                                </div>
                            </div>
                            <div class="card-product__badges">
                                <span class="badge2 badge2_grey1">Хит продаж</span>
                                <span class="badge2 badge2_grey2">Акция</span>
                            </div>
                            <span class="photo-corner1__badge-logo badge3 badge3_grey1">
                                <span style="mask-image: url(img/arkon-alfa.svg);">
                                    <img src="img/arkon-alfa.svg" alt="">
                                </span>
                            </span>
                            <span class="card-product__bonuses badge2">+ 2000 Б</span>
                            <div class="swiper-navs">
                                <button class="swiper-nav swiper-nav_prev" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <button class="swiper-nav swiper-nav_next" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="bottom-product-detail">
                        <div class="bottom-product-detail__left">
                            <div class="card-product__data">
                                <div class="card-product__article">Артикул: <span>123456789</span></div>
                                <h1 class="title2">Тепловизорный прицел LT35</h1>
                                <p>
                                    Самый легкий в своей серии тепловизионный прицел не подведет Вас
                                    в самый важный момент.
                                </p>
                                <div class="card-product__status">
                                    <span class="card-product__status_instock">В наличии</span>
                                </div>
                            </div>
                            <div class="bottom-product-detail__buttons">
                                <div class="card-product__bottom">
                                    <div>
                                        <span class="card-product__price2">399 900 ₽</span>
                                        <span class="card-product__discount">-20%</span>
                                        <span class="card-product__price1">299 900 ₽</span>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a class="btn-fancy btn-fancy_1" href="#">
                                        <span>Купить в 1 клик</span>
                                    </a>
                                    <button class="btn-fancy btn-fancy_2" type="button">
                                        <span>В корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-product-detail__right">
                            <div class="bottom-product-detail__titles">
                                <div class="bottom-product-detail__title">Характеристики</div>
                                <a href="#characteristics" class="btn-text btn-text_1">
                                    <span>Все характеристики</span>
                                </a>
                            </div>
                            <div class="block-characteristics">
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Поле зрения
                                        </div>
                                        <div class="block-characteristics__value">7.53° x 5.65°</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Оптическое увеличение
                                        </div>
                                        <div class="block-characteristics__value">3.0x</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Диаметр объектива
                                        </div>
                                        <div class="block-characteristics__value">35 мм/F1.0</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Разрешение детектора
                                        </div>
                                        <div class="block-characteristics__value">384×288</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Потребляемая мощность
                                        </div>
                                        <div class="block-characteristics__value">1.6w</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Встроенная память
                                        </div>
                                        <div class="block-characteristics__value">EMMC (64 GB)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-product-descr">
                <div class="container">
                    <div class="block-product-descr__content corners1">
                        <div data-showmore class="corners1__inner">
                            <div data-showmore-content class="block-product-descr__body">
                                <h3 class="title3">
                                    Основные особенности модели
                                </h3>
                                <div class="text">
                                    <p>
                                        Поиск тепловизионного прицела, качество которого соответствует стоимости,
                                        затруднителен.
                                        Большинство моделей на рынке или не обосновано дорогие, или низкого качества.
                                        Компания
                                        Arkon разработала и выпускает модель Alfa  LT35, которая подойдет пользователям
                                        с
                                        любым
                                        уровнем подготовки, при охоте на любую дичь, гарантирует комфортное
                                        использование и
                                        простое обслуживание оптики.
                                    </p>
                                    <p>
                                        Прицел Arkon Alfa LT35 – разработка российской группы компаний ЦЭК. Мы
                                        спроектировали
                                        прибор простой конструкции, но с оптимальным функционалом: ничего лишнего и
                                        дорогостоящего, только самое необходимое, но высокого качества.
                                    </p>
                                </div>
                                <div class="title4">
                                    К особенностям модели относятся:
                                </div>
                                <ul>
                                    <li>Герметичный корпус из алюминиевого сплава.</li>
                                    <li>Простой и понятный набор органов управления.</li>
                                    <li>
                                        Возможность подбора пользователем цветовых палитр (4 варианта) и прицельных
                                        сеток под свои требования (в основе – неохлаждаемая Vox – матрица).
                                    </li>
                                    <li>
                                        Благодаря высокой теплочувствительности (NETD <35 mK) вы получаете высокую
                                            степень детализации даже при неблагоприятных условиях применения прибора
                                            (туман, дымка, дождь, водяная взвесь в воздухе, высокая – более +30 градусов
                                            по Цельсию – температура окружающей среды). </li>
                                    <li>
                                        Используется матрица высокого разрешения (384x288), которая в сочетании с 35мм
                                        германиевым объективом обеспечивает 3-кратное оптическое увеличение при
                                        компактных габаритах самого прибора.
                                    </li>
                                    <li>
                                        Высокая скорость обновления кадров (частота 50 Hz).
                                    </li>
                                    <li>
                                        Возможность калибровки сенсора в автоматическом, полуавтоматическом или ручном
                                        режимах.
                                    </li>
                                    <li>
                                        Несколько вариантов источников питания для прицела. Отсек устройства рассчитан
                                        на 4 батарейки CR123A или аккумуляторы такого же типоразмера.
                                    </li>
                                </ul>
                                <p>
                                    При проектировании прицела Arkon Alfa LT35 мы предусмотрели возможность
                                    использования прибора со стрелковым оружием – устройство выдерживает высокие
                                    нагрузки при отдаче (до 375 H&H включительно) во время стрельбы из крупнокалиберного
                                    оружия. А наличие креплений Weaver/Picatinny и MAK-адаптеров помогает быстро
                                    установить или снять прицел на большинство гладкоствольных или нарезных видов
                                    спортивного, охотничьего оружия.
                                </p>
                                <div class="title4">
                                    Как производитель, мы отвечаем за качество прицела в полном объеме, и гарантируем
                                    что:
                                </div>
                                <ul>
                                    <li>
                                        Мы разработали собственное ПО, а электронные компоненты проходят проверку
                                        работоспособности в специальной камере, которая имитирует климатические условия
                                        при -40 до +50 градусов по Цельсию.
                                    </li>
                                    <li>
                                        Тестирование устройства в сборе проводится с использованием стенда, который
                                        создает ударную нагрузку до 500G.
                                    </li>
                                    <li>
                                        Каждая партия прицелов включает приборы, которые прошли полевые испытания
                                        (устойчивость к погодным условиям, высоким нагрузкам при отдаче крупнокалиберных
                                        боеприпасов, стабильность СТП, качество изображения и прочее).
                                    </li>
                                </ul>
                                <div class="title4">
                                    При разработке ПО мы учли пожелания опытных пользователей. Предусмотрены опции:
                                </div>
                                <ul>
                                    <li>
                                        Внутренняя память 64 Гб для записи потокового видео, отдельных кадров (фото) или
                                        небольших роликов.
                                    </li>
                                    <li>
                                        Перенос фото/видео материалов с прицела на смартфон, ноутбук или планшет – есть
                                        USB разъем для кабеля и Wi-Fi для приложений на платформе Android.
                                    </li>
                                    <li>
                                        Передача потокового видео в реальном времени через Wi-Fi.
                                    </li>
                                    <li>
                                        Дистанционное обновление ПО.
                                    </li>
                                </ul>
                                <div class="text">
                                    <p>
                                        Мы предоставляем гарантию на свою продукцию – до 3 лет с момента выпуска или до
                                        2
                                        лет с момента покупки. Для проведения сервисного обслуживания, ремонта или
                                        получения
                                        экспертной оценки вы можете обратиться в наш сервисный центр в Москве.
                                    </p>
                                    <p>
                                        Прицел Arkon Alfa LT35 подходит тем, кто ориентируется на адекватное соотношение
                                        стоимости и качества, возможность настраивать устройство под свои предпочтения,
                                        надежность.
                                    </p>
                                    <p>
                                        Мы готовы обсудить условия оптовых поставок в любой регион РФ. Звоните или
                                        пишите в
                                        наш офис: у компании есть интересные предложения для каждого покупателя.
                                    </p>
                                </div>
                                <div class="block">
                                    <img loading="lazy" src="img/media/image1.webp" alt="">
                                    <div class="text">
                                        <div class="title3">Только качественный сервис! </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей. Каждый день мы стараемся сделать нашу работу лучше, чем вчера,
                                            но если в наш процесс обслуживания, на ваш взгляд, необходимо внести
                                            какие-то изменения, и это сделает жизнь наших клиентов проще и комфортнее,
                                            достаточно написать письмо напрямую в интернет-магазин по адресу info@tut.ru
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span class="btn-text btn-text_1">Читать полностью</span>
                                <span class="btn-text btn-text_1">Свернуть</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>