<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Тепловизионный прицел ARKON Alfa LT35</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main product">

            <div class="breadcrumbs breadcrumbs-product">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="catalog.html">
                                Каталог
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="catalog-detail.html">
                                Тепловизионные прицелы
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Тепловизионный прицел ARKON Alfa LT35</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-product-detail">
                <div class="title2 title-mob">Тепловизорный прицел LT35</div>
                <div class="top-product-detail">
                    <div class="container">
                        <div class="top-product-detail__slider swiper">
                            <div class="top-product-detail__wrapper swiper-wrapper">
                                <div class="top-product-detail__slide swiper-slide">
                                    <img src="img/product1.webp" alt="" class="top-product-detail__pic">
                                </div>
                                <div class="top-product-detail__slide swiper-slide">
                                    <img src="img/product2.webp" alt="" class="top-product-detail__pic">
                                </div>
                                <div class="top-product-detail__slide swiper-slide">
                                    <img src="img/product1.webp" alt="" class="top-product-detail__pic">
                                </div>
                            </div>
                            <div class="card-product__badges">
                                <span class="badge2 badge2_grey1">Хит продаж</span>
                                <span class="badge2 badge2_grey2">Акция</span>
                            </div>
                            <span class="photo-corner1__badge-logo badge3 badge3_grey1">
                                <span style="mask-image: url(img/arkon-alfa.svg);">
                                    <img src="img/arkon-alfa.svg" alt="">
                                </span>
                            </span>
                            <span class="card-product__bonuses badge2">+ 2000 Б</span>
                            <div class="swiper-navs">
                                <button class="swiper-nav swiper-nav_prev" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <button class="swiper-nav swiper-nav_next" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="bottom-product-detail">
                        <div class="bottom-product-detail__left">
                            <div class="card-product__data">
                                <div class="card-product__article">Артикул: <span>123456789</span></div>
                                <h1 class="title2">Тепловизорный прицел LT35</h1>
                                <p>
                                    Самый легкий в своей серии тепловизионный прицел не подведет Вас
                                    в самый важный момент.
                                </p>
                                <div class="card-product__status">
                                    <span class="card-product__status_instock">В наличии</span>
                                </div>
                            </div>
                            <div class="bottom-product-detail__buttons">
                                <div class="card-product__bottom">
                                    <div>
                                        <span class="card-product__price2">399 900 ₽</span>
                                        <span class="card-product__discount">-20%</span>
                                        <span class="card-product__price1">299 900 ₽</span>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a data-hystmodal="#buy-click" class="btn-fancy btn-fancy_1" href="#">
                                        <span>Купить в 1 клик</span>
                                    </a>
                                    <button class="btn-fancy btn-fancy_2" type="button">
                                        <span>В корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-product-detail__right">
                            <div class="bottom-product-detail__titles">
                                <div class="bottom-product-detail__title">Характеристики</div>
                                <a id="characteristics" href="#characteristics" class="btn-text btn-text_1">
                                    <span>Все характеристики</span>
                                </a>
                            </div>
                            <div class="block-characteristics">
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Поле зрения
                                        </div>
                                        <div class="block-characteristics__value">7.53° x 5.65°</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Оптическое увеличение
                                        </div>
                                        <div class="block-characteristics__value">3.0x</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Диаметр объектива
                                        </div>
                                        <div class="block-characteristics__value">35 мм/F1.0</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Разрешение детектора
                                        </div>
                                        <div class="block-characteristics__value">384×288</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Потребляемая мощность
                                        </div>
                                        <div class="block-characteristics__value">1.6w</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Встроенная память
                                        </div>
                                        <div class="block-characteristics__value">EMMC (64 GB)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-product-descr">
                <div class="container">
                    <div class="block-product-descr__content corners1">
                        <div data-showmore class="corners1__inner">
                            <div data-showmore-content class="block-product-descr__body">
                                <h3 class="title3">
                                    Основные особенности модели
                                </h3>
                                <div class="text">
                                    <p>
                                        Поиск тепловизионного прицела, качество которого соответствует стоимости,
                                        затруднителен.
                                        Большинство моделей на рынке или не обосновано дорогие, или низкого качества.
                                        Компания
                                        Arkon разработала и выпускает модель Alfa  LT35, которая подойдет пользователям
                                        с
                                        любым
                                        уровнем подготовки, при охоте на любую дичь, гарантирует комфортное
                                        использование и
                                        простое обслуживание оптики.
                                    </p>
                                    <p>
                                        Прицел Arkon Alfa LT35 – разработка российской группы компаний ЦЭК. Мы
                                        спроектировали
                                        прибор простой конструкции, но с оптимальным функционалом: ничего лишнего и
                                        дорогостоящего, только самое необходимое, но высокого качества.
                                    </p>
                                </div>
                                <div class="title4">
                                    К особенностям модели относятся:
                                </div>
                                <ul>
                                    <li>Герметичный корпус из алюминиевого сплава.</li>
                                    <li>Простой и понятный набор органов управления.</li>
                                    <li>
                                        Возможность подбора пользователем цветовых палитр (4 варианта) и прицельных
                                        сеток под свои требования (в основе – неохлаждаемая Vox – матрица).
                                    </li>
                                    <li>
                                        Благодаря высокой теплочувствительности (NETD <35 mK) вы получаете высокую
                                            степень детализации даже при неблагоприятных условиях применения прибора
                                            (туман, дымка, дождь, водяная взвесь в воздухе, высокая – более +30 градусов
                                            по Цельсию – температура окружающей среды). </li>
                                    <li>
                                        Используется матрица высокого разрешения (384x288), которая в сочетании с 35мм
                                        германиевым объективом обеспечивает 3-кратное оптическое увеличение при
                                        компактных габаритах самого прибора.
                                    </li>
                                    <li>
                                        Высокая скорость обновления кадров (частота 50 Hz).
                                    </li>
                                    <li>
                                        Возможность калибровки сенсора в автоматическом, полуавтоматическом или ручном
                                        режимах.
                                    </li>
                                    <li>
                                        Несколько вариантов источников питания для прицела. Отсек устройства рассчитан
                                        на 4 батарейки CR123A или аккумуляторы такого же типоразмера.
                                    </li>
                                </ul>
                                <p>
                                    При проектировании прицела Arkon Alfa LT35 мы предусмотрели возможность
                                    использования прибора со стрелковым оружием – устройство выдерживает высокие
                                    нагрузки при отдаче (до 375 H&H включительно) во время стрельбы из крупнокалиберного
                                    оружия. А наличие креплений Weaver/Picatinny и MAK-адаптеров помогает быстро
                                    установить или снять прицел на большинство гладкоствольных или нарезных видов
                                    спортивного, охотничьего оружия.
                                </p>
                                <div class="title4">
                                    Как производитель, мы отвечаем за качество прицела в полном объеме, и гарантируем
                                    что:
                                </div>
                                <ul>
                                    <li>
                                        Мы разработали собственное ПО, а электронные компоненты проходят проверку
                                        работоспособности в специальной камере, которая имитирует климатические условия
                                        при -40 до +50 градусов по Цельсию.
                                    </li>
                                    <li>
                                        Тестирование устройства в сборе проводится с использованием стенда, который
                                        создает ударную нагрузку до 500G.
                                    </li>
                                    <li>
                                        Каждая партия прицелов включает приборы, которые прошли полевые испытания
                                        (устойчивость к погодным условиям, высоким нагрузкам при отдаче крупнокалиберных
                                        боеприпасов, стабильность СТП, качество изображения и прочее).
                                    </li>
                                </ul>
                                <div class="title4">
                                    При разработке ПО мы учли пожелания опытных пользователей. Предусмотрены опции:
                                </div>
                                <ul>
                                    <li>
                                        Внутренняя память 64 Гб для записи потокового видео, отдельных кадров (фото) или
                                        небольших роликов.
                                    </li>
                                    <li>
                                        Перенос фото/видео материалов с прицела на смартфон, ноутбук или планшет – есть
                                        USB разъем для кабеля и Wi-Fi для приложений на платформе Android.
                                    </li>
                                    <li>
                                        Передача потокового видео в реальном времени через Wi-Fi.
                                    </li>
                                    <li>
                                        Дистанционное обновление ПО.
                                    </li>
                                </ul>
                                <div class="text">
                                    <p>
                                        Мы предоставляем гарантию на свою продукцию – до 3 лет с момента выпуска или до
                                        2
                                        лет с момента покупки. Для проведения сервисного обслуживания, ремонта или
                                        получения
                                        экспертной оценки вы можете обратиться в наш сервисный центр в Москве.
                                    </p>
                                    <p>
                                        Прицел Arkon Alfa LT35 подходит тем, кто ориентируется на адекватное соотношение
                                        стоимости и качества, возможность настраивать устройство под свои предпочтения,
                                        надежность.
                                    </p>
                                    <p>
                                        Мы готовы обсудить условия оптовых поставок в любой регион РФ. Звоните или
                                        пишите в
                                        наш офис: у компании есть интересные предложения для каждого покупателя.
                                    </p>
                                </div>
                                <div class="block">
                                    <img loading="lazy" src="img/media/image1.webp" alt="">
                                    <div class="text">
                                        <div class="title3">Только качественный сервис! </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей. Каждый день мы стараемся сделать нашу работу лучше, чем вчера,
                                            но если в наш процесс обслуживания, на ваш взгляд, необходимо внести
                                            какие-то изменения, и это сделает жизнь наших клиентов проще и комфортнее,
                                            достаточно написать письмо напрямую в интернет-магазин по адресу info@tut.ru
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span class="btn-text btn-text_1">Читать полностью</span>
                                <span class="btn-text btn-text_1">Свернуть</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits">
                <div class="container">
                    <div class="block-benefits__content corners1">
                        <div class="corners1__inner">
                            <h2 class="title3">Преимущества</h2>
                            <div class="block-benefits__body">
                                <div class="block-benefits__column">
                                    <div class="block-benefits__titles">
                                        <div class="block-benefits__title">
                                            Только качественный
                                            сервис!
                                        </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей.
                                        </p>
                                    </div>
                                    <div class="block-benefits__image corners1">
                                        <div class="corners1__inner">
                                            <img loading="lazy" src="img/address/image7.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="block-benefits__column">
                                    <div class="block-benefits__titles">
                                        <div class="block-benefits__title">
                                            Только качественный
                                            сервис!
                                        </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей.
                                        </p>
                                    </div>
                                    <div class="block-benefits__image corners1">
                                        <div class="corners1__inner">
                                            <img loading="lazy" src="img/address/image1.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="block-benefits__column">
                                    <div class="block-benefits__titles">
                                        <div class="block-benefits__title">
                                            Только качественный
                                            сервис!
                                        </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей.
                                        </p>
                                    </div>
                                    <div class="block-benefits__image corners1">
                                        <a href="files/videos/video.mp4" data-fancybox="video1" class="corners1__inner">
                                            <img loading="lazy" src="img/media/image6.webp" alt="">
                                            <div class="play">
                                                <span class="play__sq1">
                                                    <span class="play__sq2">
                                                        <span class="play__hover1">
                                                            <span class="play__hover2">
                                                                <svg aria-hidden="true" width="19" height="20">
                                                                    <use xlink:href="img/sprite.svg#play"></use>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="block-benefits__column">
                                    <div class="block-benefits__titles">
                                        <div class="block-benefits__title">
                                            Только качественный
                                            сервис!
                                        </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей.
                                        </p>
                                    </div>
                                    <div class="block-benefits__image corners1">
                                        <div class="corners1__inner">
                                            <img loading="lazy" src="img/media/image7.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="block-benefits__column">
                                    <div class="block-benefits__titles">
                                        <div class="block-benefits__title">
                                            Только качественный
                                            сервис!
                                        </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей.
                                        </p>
                                    </div>
                                    <div class="block-benefits__image corners1">
                                        <div class="corners1__inner">
                                            <img loading="lazy" src="img/address/image5.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="block-benefits__column">
                                    <div class="block-benefits__titles">
                                        <div class="block-benefits__title">
                                            Только качественный
                                            сервис!
                                        </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей.
                                        </p>
                                    </div>
                                    <div class="block-benefits__image corners1">
                                        <div class="corners1__inner">
                                            <img loading="lazy" src="img/address/image6.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits2">
                <img loading="lazy" src="img/bg1.webp" alt="" class="block-benefits2__bg">
                <div class="container">
                    <div class="block-benefits2__body">
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon1.svg" alt="">
                            </div>
                            <p>
                                Высококачественная<br> просветлённая оптика
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon2.svg" alt="">
                            </div>
                            <p>
                                Влагостойкость по стандарту<br>
                                защиты IP67
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon3.svg" alt="">
                            </div>
                            <p>
                                Высокочувствительные<br>
                                тепловизионные матрицы
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon4.svg" alt="">
                            </div>
                            <p>
                                Контрастные OLED дисплеи<br>
                                с
                                разрешением 1024х768
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon5.svg" alt="">
                            </div>
                            <p>
                                Стойкость к сильной отдаче<br>
                                и стабильность
                                СТП
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon6.svg" alt="">
                            </div>
                            <p>
                                Производительная<br>
                                электроника
                            </p>
                        </div>
                    </div>
                </div>
                <img loading="lazy" src="img/bg2.webp" alt="" class="block-benefits2__bg">
            </div>

            <div class="block-characteristics2">
                <div class="container">
                    <h2 class="title3">
                        Общие характеристики
                    </h2>
                    <div class="block-characteristics__body">
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Тепловизионный сенсор
                                </div>
                                <div class="block-characteristics__value">Неохлаждаемый, Vox</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Диаметр выходного зрачка
                                </div>
                                <div class="block-characteristics__value">6 мм</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Расстояние между пикселями
                                </div>
                                <div class="block-characteristics__value">12 µm</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Температурная чувствительность NETD
                                </div>
                                <div class="block-characteristics__value">Не более 35 mk</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Спектральный диапазон
                                </div>
                                <div class="block-characteristics__value">8 μm ~ 14 μm</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Влагозащита
                                </div>
                                <div class="block-characteristics__value">IP67</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Элементы питания (с выкл. Wi-Fi модулем)
                                </div>
                                <div class="block-characteristics__value">4шт CR123A</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Цифровой зум
                                </div>
                                <div class="block-characteristics__value">1х, 2х, 4х, 8х</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Ударная стойкость
                                </div>
                                <div class="block-characteristics__value">750 g</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Удаление выходного зрачка
                                </div>
                                <div class="block-characteristics__value">45 мм</div>
                            </div>
                        </div>
                        <div class="block-characteristics__column corners1">
                            <div class="corners1__inner">
                                <div class="block-characteristics__name">
                                    Частота обновления кадров
                                </div>
                                <div class="block-characteristics__value">50 Hz</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-gallery">
                <div class="container">
                    <div class="title3">Галерея</div>
                    <div class="block-gallery__slider swiper">
                        <div class="block-gallery__wrapper swiper-wrapper">
                            <a href="img/product-gallery1.webp" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery1.webp" alt="">
                                </div>
                            </a>
                            <a href="img/product-gallery2.webp" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery2.webp" alt="">
                                </div>
                            </a>
                            <a href="img/product-gallery3.webp" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery3.webp" alt="">
                                </div>
                            </a>
                            <a href="files/videos/video.mp4" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide ">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery4.webp" alt="">
                                </div>
                                <div class="play">
                                    <span class="play__sq1">
                                        <span class="play__sq2">
                                            <span class="play__hover1">
                                                <span class="play__hover2">
                                                    <svg aria-hidden="true" width="19" height="20">
                                                        <use xlink:href="img/sprite.svg#play"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </a>
                            <a href="img/product-gallery3.webp" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery3.webp" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-navs">
                            <button class="swiper-nav swiper-nav_prev" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                            <button class="swiper-nav swiper-nav_next" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-documentation2">
                <div class="container">
                    <div class="block-documentation__content">
                        <img loading="lazy" src="img/bg-product2.webp" alt="" class="block-documentation__bg">
                        <div class="block-documentation__bottom">
                            <div class="block-documentation__grid">
                                <div class="block-documentation__title">Документация</div>
                                <div class="block-documentation__body">
                                    <a href="#" class="block-documentation__column">
                                        <div class="block-documentation__icon">
                                            <img loading="lazy" src="img/pdf.svg" alt="">
                                        </div>
                                        <span>
                                            Cкачать инструкцию
                                            к прибору
                                        </span>
                                    </a>
                                    <a href="#" class="block-documentation__column">
                                        <div class="block-documentation__icon">
                                            <img loading="lazy" src="img/pdf.svg" alt="">
                                        </div>
                                        <span>
                                            Cкачать инструкцию
                                            к прибору
                                        </span>
                                    </a>
                                    <a href="#" class="block-documentation__column">
                                        <div class="block-documentation__icon">
                                            <img loading="lazy" src="img/pdf.svg" alt="">
                                        </div>
                                        <span>
                                            Cкачать инструкцию
                                            к прибору
                                        </span>
                                    </a>
                                    <a href="#" class="block-documentation__column">
                                        <div class="block-documentation__icon">
                                            <img loading="lazy" src="img/pdf.svg" alt="">
                                        </div>
                                        <span>
                                            Cкачать инструкцию
                                            к прибору
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-documentation__grid">
                                <div class="block-documentation__title">Програмное обеспечение</div>
                                <div class="block-documentation__body">
                                    <a href="#" class="block-documentation__column">
                                        <div class="block-documentation__icon">
                                            <img loading="lazy" src="img/android.svg" alt="">
                                        </div>
                                        <span>
                                            Скачать приложение
                                            Android
                                        </span>
                                    </a>
                                    <a href="#" class="block-documentation__column">
                                        <div class="block-documentation__icon">
                                            <img loading="lazy" src="img/apple.svg" alt="">
                                        </div>
                                        <span>
                                            Скачать приложение
                                            Apple iOS
                                        </span>
                                    </a>
                                    <a href="#" class="block-documentation__column">
                                        <div class="block-documentation__icon">
                                            <img loading="lazy" src="img/zip.svg" alt="">
                                        </div>
                                        <span>
                                            ARKON ALFA ST19
                                            Прошивка 2.0 2022
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="block-recommend block-recommend-product">
                <div class="container">
                    <div class="heading-cols1">
                        <h2 class="title2">Смотреть еще</h2>
                    </div>
                    <div class="swiper swiper-recommend swiper-recommend3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-price.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-timer.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-noprice.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-timer.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-timer.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-product-timer.njk' %}
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-navs">
                            <button class="swiper-nav swiper-nav_prev" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                            <button class="swiper-nav swiper-nav_next" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <div class="fixed-product">
                <div class="container">
                    <div class="fixed-product__content">
                        <div class="fixed-product__left">
                            <div class="fixed-product__image">
                                <img src="img/product1.webp" alt="">
                            </div>
                            <div class="fixed-product__title">Тепловизионный прицел LT35</div>
                        </div>
                        <div class="fixed-product__right">
                            <div class="card-product__bottom">
                                <div>
                                    <span class="card-product__price2">399 900 ₽</span>
                                    <span class="card-product__discount">-20%</span>
                                    <span class="card-product__price1">299 900 ₽</span>
                                </div>
                            </div>
                            <button type="button" class="btn">
                                <span>В корзину</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>