<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Управление подписками</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main cart">

            <div class="breadcrumbs breadcrumbs-cabinet">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Личный кабинет</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-personal-cabinet">
                <div class="container">
                    <h1 class="title2">Личный кабинет</h1>
                </div>
                <div class="block-personal-cabinet__content">
                    <div class="container">
                        <div class="block-personal-cabinet__body">
                            <div class="left-personal-cabinet">
                                <div class="left-personal-cabinet__sticky">
                                    <ul>
                                        <li>
                                            <a href="details.html">Мои данные</a>
                                        </li>
                                        <li>
                                            <a href="profile-orders.html">Мои заказы</a>
                                        </li>
                                        <li>
                                            <a href="profile-bonuses.html">Мои бонусы</a>
                                        </li>
                                        <li>
                                            <a href="#">История покупок</a>
                                        </li>
                                        <li>
                                            <a href="profile-favorites.html">Избранное</a>
                                        </li>
                                        <li>
                                            <a href="profile-await.html">Лист ожидания</a>
                                        </li>
                                        <li>
                                            <a href="profile-feedback.html">Обратная связь</a>
                                        </li>
                                        <li>
                                            <a href="profile-subscribe.html" class="_active">Управление подписками</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="right-personal-cabinet profile-subscribe">
                                <div class="right-personal-cabinet__column">
                                    <div class="right-personal-cabinet__top">
                                        <div class="right-personal-cabinet__title">
                                            Управление подписками
                                        </div>
                                    </div>
                                    <div class="subscribe-personal-cabinet">
                                        <div class="subscribe-personal-cabinet__column">
                                            <div class="subscribe-personal-cabinet__title">Рассылка по SMS</div>
                                            <ul class="checklist">
                                                <li class="checklist__item">
                                                    <label class="checkbox-text">
                                                        <span class="radio">
                                                            <input class="radio__input" type="checkbox" name="rad1">
                                                            <span class="radio__visual"></span>
                                                        </span>
                                                        <span class="checkbox-text__label">Рассылка об акциях и
                                                            специальных предложениях</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="subscribe-personal-cabinet__column">
                                            <div class="subscribe-personal-cabinet__title">Рекламные рассылки по
                                                электронной почте</div>
                                            <ul class="checklist">
                                                <li class="checklist__item">
                                                    <label class="checkbox-text">
                                                        <span class="radio">
                                                            <input class="radio__input" type="checkbox" name="rad2">
                                                            <span class="radio__visual"></span>
                                                        </span>
                                                        <span class="checkbox-text__label">
                                                            Рассылка об акциях и специальных предложениях
                                                        </span>
                                                    </label>
                                                </li>
                                                <li class="checklist__item">
                                                    <label class="checkbox-text">
                                                        <span class="radio">
                                                            <input class="radio__input" type="checkbox" name="rad2">
                                                            <span class="radio__visual"></span>
                                                        </span>
                                                        <span class="checkbox-text__label">Рассылка о новинках</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="subscribe-personal-cabinet__column">
                                            <div class="subscribe-personal-cabinet__title">Системные рассылки по
                                                электронной почте</div>
                                            <ul class="checklist">
                                                <li class="checklist__item">
                                                    <label class="checkbox-text">
                                                        <span class="radio">
                                                            <input class="radio__input" type="checkbox" name="rad3">
                                                            <span class="radio__visual"></span>
                                                        </span>
                                                        <span class="checkbox-text__label">
                                                            Вспомогательная рассылка
                                                        </span>
                                                    </label>
                                                    <p>
                                                        Расскажем о поступлении товара, который вам понравился, а также
                                                        оповестим, если цена на любимую модель снизилась или товар скоро
                                                        закончится
                                                    </p>
                                                </li>
                                                <li class="checklist__item">
                                                    <label class="checkbox-text">
                                                        <span class="radio">
                                                            <input class="radio__input" type="checkbox" name="rad3">
                                                            <span class="radio__visual"></span>
                                                        </span>
                                                        <span class="checkbox-text__label">Рассылка по программе
                                                            лояльности</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>