<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Серии</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main series">

            <div class="breadcrumbs breadcrumbs-series">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="series.html">
                                Серии
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>ALFA</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-series-detail">
                <div class="container">
                    <div class="block-series-detail__content">
                        <div class="block-teaser2__inner">
                            <img class="block-teaser2__decor2 block-teaser2__decor2_left" src="img/series-bg1.webp"
                                alt="">
                            <img class="block-teaser2__decor2 block-teaser2__decor2_right" src="img/series-bg1.webp"
                                alt="">
                            <div class="swiper-slide__inner1">
                                <div class="block-teaser2__logo">
                                    <span>серия</span>
                                    <img src="img/alfa.svg" alt="">
                                </div>
                                <div class="block-teaser2__info">
                                    <div class="params-list">
                                        <button data-tippy-content="Влагостойкость по стандарту защиты IP67"
                                            class="btn-param" type="button">
                                            <svg aria-hidden="true" width="24" height="24">
                                                <use xlink:href="img/sprite.svg#param1"></use>
                                            </svg>
                                        </button>
                                        <button data-tippy-content="Влагостойкость по стандарту защиты IP67"
                                            class="btn-param" type="button">
                                            <svg aria-hidden="true" width="24" height="24">
                                                <use xlink:href="img/sprite.svg#param2"></use>
                                            </svg>
                                        </button>
                                        <button data-tippy-content="Влагостойкость по стандарту защиты IP67"
                                            class="btn-param" type="button">
                                            <svg aria-hidden="true" width="24" height="24">
                                                <use xlink:href="img/sprite.svg#param3"></use>
                                            </svg>
                                        </button>
                                        <button data-tippy-content="Влагостойкость по стандарту защиты IP67"
                                            class="btn-param" type="button">
                                            <svg aria-hidden="true" width="24" height="24">
                                                <use xlink:href="img/sprite.svg#param4"></use>
                                            </svg>
                                        </button>
                                        <button data-tippy-content="Влагостойкость по стандарту защиты IP67"
                                            class="btn-param" type="button">
                                            <svg aria-hidden="true" width="24" height="24">
                                                <use xlink:href="img/sprite.svg#param5"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <span>
                                        Серия для охотников, военных и служб специального назначения. Модификации
                                        прицелов позволяют использовать
                                        их в большом диапазоне дистанций
                                        на оружии разных типов и калибров
                                    </span>
                                </div>
                            </div>
                            <div class="photo-corner1">
                                <div class="corners1">
                                    <span class="corners1__inner">
                                        <img src="img/product3.webp" alt="">
                                    </span>
                                </div>
                            </div>
                            <span class="photo-corner1__badge-logo badge3 badge3_grey1">
                                <span style="mask-image: url(img/arkon-alfa.svg);">
                                    <img src="img/arkon-alfa.svg" alt="">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-series-product">
                <div class="container">
                    <h2 class="title3">
                        Тепловизионные прицелы серии ALFA
                    </h2>
                    <div class="block-series-product__cards">
                        {% include 'blocks/card-product-timer.njk' %}
                        {% include 'blocks/card-product-price.njk' %}
                        {% include 'blocks/card-product-timer.njk' %}
                        {% include 'blocks/card-product-timer.njk' %}
                        {% include 'blocks/card-product-price.njk' %}
                        {% include 'blocks/card-product-timer.njk' %}
                        {% include 'blocks/card-product-price.njk' %}
                        {% include 'blocks/card-product-timer.njk' %}
                    </div>
                </div>
            </div>

            <div class="block-product-descr block-product-descr2">
                <div class="container">
                    <div class="block-product-descr__content corners1">
                        <div data-showmore class="corners1__inner">
                            <div data-showmore-content class="block-product-descr__body">
                                <h3 class="title3">
                                    Основные особенности серии
                                </h3>
                                <div class="text">
                                    <p>
                                        Доступность, функциональность, качество. Представляем вам серию Arkon Alfa –
                                        продвинутые тепловизионные прицелы под любые задачи. Теплоприцелы Arkon
                                        предназначены для охоты, контроля местности, поиска и длительного наблюдения за
                                        объектом, включая действия во всевозможных нестандартных условиях. Девайсы
                                        предназначены для производства точного уверенного выстрела на разных дистанциях,
                                        от коротких «тактических» до дальних «снайперских».
                                    </p>
                                    <p>
                                        Серия Alfa – это современные, надёжные, тепловизионные приборы, совмещающие в
                                        себе все необходимые функции и топовые характеристики с доступностью для
                                        рядового охотника. Благодаря максимальной защите IP67, полной герметичности,
                                        ударопрочности, водонепроницаемости и металлическому корпусу, эти приборы
                                        выдержат любую непогоду. Даже самые холодные, дождливые и жаркие погодные
                                        условия – не помеха для работы с ними. Вы можете не волноваться по поводу
                                        вибраций и отдачи – Alfa «держит» даже самые крупные калибры.
                                    </p>
                                    <p>
                                        Мы позаботились о лучшей «начинке» наших приборов. Они оборудованы современными
                                        VOx-матрицами с чувствительностью не более 35 mK, имеют 6 вариантов размера
                                        объектива и 4 цветовых палитры. Каждый пользователь может выбрать подходящее
                                        оптическое увеличение и разрешение матрицы под свои задачи. Стрелкам немаловажно
                                        выбрать для себя подходящую прицельную сетку. Alfa предоставляет им такую
                                        возможность, несколько прицельных сеток, в том числе 2 баллистических закроют
                                        потребности самых притязательных пользователей.
                                    </p>
                                    <p>
                                        Приобретая Arkon Alfa, вы покупаете не просто тепловизор. Вы приобретаете
                                        возможность произвести точный выстрел, полный контроль над местностью,
                                        безопасность и высочайший уровень детализации наблюдаемого объекта. Наши
                                        тепловизионные приборы полностью обслуживаются на территории России и Беларуси и
                                        имеют расширенную гарантию. Arkon Alfa - выбирай свой стиль охоты!
                                    </p>
                                </div>
                                <div class="title4">
                                    К особенностям модели относятся:
                                </div>
                                <ul>
                                    <li>Герметичный корпус из алюминиевого сплава.</li>
                                    <li>Простой и понятный набор органов управления.</li>
                                    <li>
                                        Возможность подбора пользователем цветовых палитр (4 варианта) и прицельных
                                        сеток под свои требования (в основе – неохлаждаемая Vox – матрица).
                                    </li>
                                    <li>
                                        Благодаря высокой теплочувствительности (NETD <35 mK) вы получаете высокую
                                            степень детализации даже при неблагоприятных условиях применения прибора
                                            (туман, дымка, дождь, водяная взвесь в воздухе, высокая – более +30 градусов
                                            по Цельсию – температура окружающей среды). </li>
                                    <li>
                                        Используется матрица высокого разрешения (384x288), которая в сочетании с 35мм
                                        германиевым объективом обеспечивает 3-кратное оптическое увеличение при
                                        компактных габаритах самого прибора.
                                    </li>
                                    <li>
                                        Высокая скорость обновления кадров (частота 50 Hz).
                                    </li>
                                    <li>
                                        Возможность калибровки сенсора в автоматическом, полуавтоматическом или ручном
                                        режимах.
                                    </li>
                                    <li>
                                        Несколько вариантов источников питания для прицела. Отсек устройства рассчитан
                                        на 4 батарейки CR123A или аккумуляторы такого же типоразмера.
                                    </li>
                                </ul>
                                <p>
                                    При проектировании прицела Arkon Alfa LT35 мы предусмотрели возможность
                                    использования прибора со стрелковым оружием – устройство выдерживает высокие
                                    нагрузки при отдаче (до 375 H&H включительно) во время стрельбы из крупнокалиберного
                                    оружия. А наличие креплений Weaver/Picatinny и MAK-адаптеров помогает быстро
                                    установить или снять прицел на большинство гладкоствольных или нарезных видов
                                    спортивного, охотничьего оружия.
                                </p>
                                <div class="title4">
                                    Как производитель, мы отвечаем за качество прицела в полном объеме, и гарантируем
                                    что:
                                </div>
                                <ul>
                                    <li>
                                        Мы разработали собственное ПО, а электронные компоненты проходят проверку
                                        работоспособности в специальной камере, которая имитирует климатические условия
                                        при -40 до +50 градусов по Цельсию.
                                    </li>
                                    <li>
                                        Тестирование устройства в сборе проводится с использованием стенда, который
                                        создает ударную нагрузку до 500G.
                                    </li>
                                    <li>
                                        Каждая партия прицелов включает приборы, которые прошли полевые испытания
                                        (устойчивость к погодным условиям, высоким нагрузкам при отдаче крупнокалиберных
                                        боеприпасов, стабильность СТП, качество изображения и прочее).
                                    </li>
                                </ul>
                                <div class="title4">
                                    При разработке ПО мы учли пожелания опытных пользователей. Предусмотрены опции:
                                </div>
                                <ul>
                                    <li>
                                        Внутренняя память 64 Гб для записи потокового видео, отдельных кадров (фото) или
                                        небольших роликов.
                                    </li>
                                    <li>
                                        Перенос фото/видео материалов с прицела на смартфон, ноутбук или планшет – есть
                                        USB разъем для кабеля и Wi-Fi для приложений на платформе Android.
                                    </li>
                                    <li>
                                        Передача потокового видео в реальном времени через Wi-Fi.
                                    </li>
                                    <li>
                                        Дистанционное обновление ПО.
                                    </li>
                                </ul>
                                <div class="text">
                                    <p>
                                        Мы предоставляем гарантию на свою продукцию – до 3 лет с момента выпуска или до
                                        2
                                        лет с момента покупки. Для проведения сервисного обслуживания, ремонта или
                                        получения
                                        экспертной оценки вы можете обратиться в наш сервисный центр в Москве.
                                    </p>
                                    <p>
                                        Прицел Arkon Alfa LT35 подходит тем, кто ориентируется на адекватное соотношение
                                        стоимости и качества, возможность настраивать устройство под свои предпочтения,
                                        надежность.
                                    </p>
                                    <p>
                                        Мы готовы обсудить условия оптовых поставок в любой регион РФ. Звоните или
                                        пишите в
                                        наш офис: у компании есть интересные предложения для каждого покупателя.
                                    </p>
                                </div>
                                <div class="block">
                                    <img loading="lazy" src="img/media/image1.webp" alt="">
                                    <div class="text">
                                        <div class="title3">Только качественный сервис! </div>
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время это актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей. Каждый день мы стараемся сделать нашу работу лучше, чем вчера,
                                            но если в наш процесс обслуживания, на ваш взгляд, необходимо внести
                                            какие-то изменения, и это сделает жизнь наших клиентов проще и комфортнее,
                                            достаточно написать письмо напрямую в интернет-магазин по адресу info@tut.ru
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span class="btn-text btn-text_1">Читать полностью</span>
                                <span class="btn-text btn-text_1">Свернуть</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits2 block-benefits-series">
                <img loading="lazy" src="img/bg1.webp" alt="" class="block-benefits2__bg">
                <div class="container">
                    <div class="block-benefits2__body">
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon1.svg" alt="">
                            </div>
                            <p>
                                Высококачественная<br> просветлённая оптика
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon2.svg" alt="">
                            </div>
                            <p>
                                Влагостойкость по стандарту<br>
                                защиты IP67
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon3.svg" alt="">
                            </div>
                            <p>
                                Высокочувствительные<br>
                                тепловизионные матрицы
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon4.svg" alt="">
                            </div>
                            <p>
                                Контрастные OLED дисплеи<br>
                                с
                                разрешением 1024х768
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon5.svg" alt="">
                            </div>
                            <p>
                                Стойкость к сильной отдаче<br>
                                и стабильность
                                СТП
                            </p>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/benefits-icon6.svg" alt="">
                            </div>
                            <p>
                                Производительная<br>
                                электроника
                            </p>
                        </div>
                    </div>
                </div>
                <img loading="lazy" src="img/bg2.webp" alt="" class="block-benefits2__bg">
            </div>

            <div class="block-series-descr">
                <img loading="lazy" src="img/line1.svg" alt="" class="block-series-descr__line">
                <div class="container">
                    <div class="block-series-descr__slider swiper">
                        <div class="block-series-descr__wrapper swiper-wrapper">
                            <div class="block-series-descr__slide swiper-slide">
                                <h3 class="title3">
                                    Широкий выбор прицельных сеток,
                                    в том числе баллистических для реализации потенциала оружия
                                    в широком диапазоне дистанций
                                </h3>
                                <div class="block-series-descr__image">
                                    <img loading="lazy" src="img/series-descr.webp" alt="">
                                </div>
                            </div>
                            <div class="block-series-descr__slide swiper-slide">
                                <h3 class="title3">
                                    Широкий выбор прицельных сеток,
                                    в том числе баллистических для реализации потенциала оружия
                                    в широком диапазоне дистанций
                                </h3>
                                <div class="block-series-descr__image">
                                    <img loading="lazy" src="img/series-descr.webp" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-navs">
                            <button class="swiper-nav swiper-nav_prev" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                            <button class="swiper-nav swiper-nav_next" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-characteristics2 block-characteristics-series">
                <div class="container">
                    <div class="block-characteristics-series__content">
                        <div class="block-characteristics-series__column">
                            <h2 class="title3">
                                Общие характеристики
                            </h2>
                            <div class="block-characteristics__body">
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Тепловизионный сенсор
                                        </div>
                                        <div class="block-characteristics__value">Неохлаждаемый, Vox</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Диаметр выходного зрачка
                                        </div>
                                        <div class="block-characteristics__value">6 мм</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Расстояние между пикселями
                                        </div>
                                        <div class="block-characteristics__value">12 µm</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Температурная чувствительность NETD
                                        </div>
                                        <div class="block-characteristics__value">Не более 35 mk</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Спектральный диапазон
                                        </div>
                                        <div class="block-characteristics__value">8 μm ~ 14 μm</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Влагозащита
                                        </div>
                                        <div class="block-characteristics__value">IP67</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Элементы питания (с выкл. Wi-Fi модулем)
                                        </div>
                                        <div class="block-characteristics__value">4шт CR123A</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Цифровой зум
                                        </div>
                                        <div class="block-characteristics__value">1х, 2х, 4х, 8х</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Ударная стойкость
                                        </div>
                                        <div class="block-characteristics__value">750 g</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Удаление выходного зрачка
                                        </div>
                                        <div class="block-characteristics__value">45 мм</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__name">
                                            Частота обновления кадров
                                        </div>
                                        <div class="block-characteristics__value">50 Hz</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-characteristics-series__column">
                            <h2 class="title3">
                                Палитры
                            </h2>
                            <div class="block-characteristics__body palettes-characteristics">
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__image">
                                            <img loading="lazy" src="img/palettes1.webp" alt="">
                                        </div>
                                        <div class="block-characteristics__value">Черный горячий</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__image">
                                            <img loading="lazy" src="img/palettes2.webp" alt="">
                                        </div>
                                        <div class="block-characteristics__value">Белый горячий</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__image">
                                            <img loading="lazy" src="img/palettes3.webp" alt="">
                                        </div>
                                        <div class="block-characteristics__value">Красный горячий</div>
                                    </div>
                                </div>
                                <div class="block-characteristics__column corners1">
                                    <div class="corners1__inner">
                                        <div class="block-characteristics__image">
                                            <img loading="lazy" src="img/palettes4.webp" alt="">
                                        </div>
                                        <div class="block-characteristics__value">Раскалённое железо</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-gallery">
                <div class="container">
                    <div class="title3">Галерея</div>
                    <div class="block-gallery__slider swiper">
                        <div class="block-gallery__wrapper swiper-wrapper">
                            <a href="img/product-gallery1.webp" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery1.webp" alt="">
                                </div>
                            </a>
                            <a href="img/product-gallery2.webp" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery2.webp" alt="">
                                </div>
                            </a>
                            <a href="img/product-gallery3.webp" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery3.webp" alt="">
                                </div>
                            </a>
                            <a href="files/videos/video.mp4" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide ">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery4.webp" alt="">
                                </div>
                                <div class="play">
                                    <span class="play__sq1">
                                        <span class="play__sq2">
                                            <span class="play__hover1">
                                                <span class="play__hover2">
                                                    <svg aria-hidden="true" width="19" height="20">
                                                        <use xlink:href="img/sprite.svg#play"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </a>
                            <a href="img/product-gallery3.webp" data-fancybox="gallery3"
                                class="block-gallery__slide corners1 swiper-slide">
                                <div class="corners1__inner">
                                    <img loading="lazy" src="img/product-gallery3.webp" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-navs">
                            <button class="swiper-nav swiper-nav_prev" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                            <button class="swiper-nav swiper-nav_next" type="button">
                                <svg aria-hidden="true" width="42" height="22">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-series-compare">
                <div class="container">
                    <h2 class="title3">Сравнительная таблица</h2>
                    <div class="block-series-compare__content">
                        <div class="block-series-compare__fixed">
                            <div class="block-series-compare__name corners1">
                                <div class="corners1__inner">
                                    Модель
                                </div>
                            </div>
                            <div class="block-series-compare__name corners1">
                                <div class="corners1__inner">
                                    Поле зрения
                                </div>
                            </div>
                            <div class="block-series-compare__name corners1">
                                <div class="corners1__inner">
                                    Оптическое увеличение
                                </div>
                            </div>
                            <div class="block-series-compare__name corners1">
                                <div class="corners1__inner">
                                    Диаметр объектива
                                </div>
                            </div>
                            <div class="block-series-compare__name corners1">
                                <div class="corners1__inner">
                                    Разрешение детектора
                                </div>
                            </div>
                            <div class="block-series-compare__name corners1">
                                <div class="corners1__inner">
                                    Потребляемая мощность
                                </div>
                            </div>
                            <div class="block-series-compare__name corners1">
                                <div class="corners1__inner">
                                    Встроенная память
                                </div>
                            </div>
                            <div class="block-series-compare__name corners1">
                                <div class="corners1__inner">
                                    Размеры
                                </div>
                            </div>
                        </div>
                        <div class="block-series-compare__tables">
                            <div class="block-series-compare__scroll">
                                <div class="block-series-compare__main-table">
                                    <a href="#" class="block-series-compare__name corners1">
                                        <div class="corners1__inner">
                                            ST19
                                        </div>
                                    </a>
                                    <a href="#" class="block-series-compare__name corners1">
                                        <div class="corners1__inner">ST25</div>
                                    </a>
                                    <a href="#" class="block-series-compare__name corners1">
                                        <div class="corners1__inner">LT25</div>
                                    </a>
                                    <a href="#" class="block-series-compare__name corners1">
                                        <div class="corners1__inner">LT35</div>
                                    </a>
                                    <a href="#" class="block-series-compare__name corners1">
                                        <div class="corners1__inner">HT35</div>
                                    </a>
                                    <a href="#" class="block-series-compare__name corners1">
                                        <div class="corners1__inner">HT50</div>
                                    </a>
                                </div>
                                <div class="block-series-compare__table">
                                    <div class="block-series-compare__name">
                                        9.24° × 7.08°
                                    </div>
                                    <div class="block-series-compare__name">
                                        7.03° × 5.39°
                                    </div>
                                    <div class="block-series-compare__name">
                                        14.9° × 11.2°
                                    </div>
                                    <div class="block-series-compare__name">
                                        7.53° x 5.65°
                                    </div>
                                    <div class="block-series-compare__name">
                                        12.5° × 10.0°
                                    </div>
                                    <div class="block-series-compare__name">
                                        8.7° x 7.0°
                                    </div>
                                </div>
                                <div class="block-series-compare__table">
                                    <div class="block-series-compare__name">
                                        2.5x
                                    </div>
                                    <div class="block-series-compare__name">
                                        3.25x
                                    </div>
                                    <div class="block-series-compare__name">
                                        1.5x
                                    </div>
                                    <div class="block-series-compare__name">
                                        3.0x
                                    </div>
                                    <div class="block-series-compare__name">
                                        1.8x
                                    </div>
                                    <div class="block-series-compare__name">
                                        2.6x
                                    </div>
                                </div>
                                <div class="block-series-compare__table">
                                    <div class="block-series-compare__name">
                                        19 мм/F1.0
                                    </div>
                                    <div class="block-series-compare__name">
                                        25 мм/F1.0
                                    </div>
                                    <div class="block-series-compare__name">
                                        25 мм/F1.0
                                    </div>
                                    <div class="block-series-compare__name">
                                        35 мм/F1.0
                                    </div>
                                    <div class="block-series-compare__name">
                                        35 мм/F1.0
                                    </div>
                                    <div class="block-series-compare__name">
                                        50 мм/F1.0
                                    </div>
                                </div>
                                <div class="block-series-compare__table">
                                    <div class="block-series-compare__name">
                                        256×192
                                    </div>
                                    <div class="block-series-compare__name">
                                        256×192
                                    </div>
                                    <div class="block-series-compare__name">
                                        384×288
                                    </div>
                                    <div class="block-series-compare__name">
                                        384×288
                                    </div>
                                    <div class="block-series-compare__name">
                                        640 × 512
                                    </div>
                                    <div class="block-series-compare__name">
                                        640 × 512
                                    </div>
                                </div>
                                <div class="block-series-compare__table">
                                    <div class="block-series-compare__name">
                                        1.5w
                                    </div>
                                    <div class="block-series-compare__name">
                                        1.5w
                                    </div>
                                    <div class="block-series-compare__name">
                                        1.5w
                                    </div>
                                    <div class="block-series-compare__name">
                                        1.5w
                                    </div>
                                    <div class="block-series-compare__name">
                                        2.1w
                                    </div>
                                    <div class="block-series-compare__name">
                                        2.1w
                                    </div>
                                </div>
                                <div class="block-series-compare__table">
                                    <div class="block-series-compare__name">
                                        EMMC (16 GB)
                                    </div>
                                    <div class="block-series-compare__name">
                                        EMMC (16 GB)
                                    </div>
                                    <div class="block-series-compare__name">
                                        EMMC (64 GB)
                                    </div>
                                    <div class="block-series-compare__name">
                                        EMMC (64 GB)
                                    </div>
                                    <div class="block-series-compare__name">
                                        EMMC (64 GB)
                                    </div>
                                    <div class="block-series-compare__name">
                                        EMMC (64 GB)
                                    </div>
                                </div>
                                <div class="block-series-compare__table">
                                    <div class="block-series-compare__name">
                                        207.1 мм x 61.9 мм x 68.5 мм
                                    </div>
                                    <div class="block-series-compare__name">
                                        200.38 мм x 66.32 мм x 87.10 мм
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-series-compare__content mob">
                        <div data-showmore class="block-series-compare__column">
                            <div data-showmore-content class="block-series-compare__item">
                                <div class="block-series-compare__main-table">
                                    <a href="#" class="block-series-compare__name">ST19</a>
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Поле зрения</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Оптическое увеличение</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Диаметр объектива</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Разрешение детектора</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Потребляемая мощность</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Размеры</span>
                                    9.24° × 7.08°
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span>Показать характеристики</span>
                                <span>Скрыть</span>
                            </button>
                        </div>
                        <div data-showmore class="block-series-compare__column">
                            <div data-showmore-content class="block-series-compare__item">
                                <div class="block-series-compare__main-table">
                                    <a href="#" class="block-series-compare__name">ST19</a>
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Поле зрения</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Оптическое увеличение</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Диаметр объектива</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Разрешение детектора</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Потребляемая мощность</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Размеры</span>
                                    9.24° × 7.08°
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span>Показать характеристики</span>
                                <span>Скрыть</span>
                            </button>
                        </div>
                        <div data-showmore class="block-series-compare__column">
                            <div data-showmore-content class="block-series-compare__item">
                                <div class="block-series-compare__main-table">
                                    <a href="#" class="block-series-compare__name">ST19</a>
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Поле зрения</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Оптическое увеличение</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Диаметр объектива</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Разрешение детектора</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Потребляемая мощность</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Размеры</span>
                                    9.24° × 7.08°
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span>Показать характеристики</span>
                                <span>Скрыть</span>
                            </button>
                        </div>
                        <div data-showmore class="block-series-compare__column">
                            <div data-showmore-content class="block-series-compare__item">
                                <div class="block-series-compare__main-table">
                                    <a href="#" class="block-series-compare__name">ST19</a>
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Поле зрения</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Оптическое увеличение</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Диаметр объектива</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Разрешение детектора</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Потребляемая мощность</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Размеры</span>
                                    9.24° × 7.08°
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span>Показать характеристики</span>
                                <span>Скрыть</span>
                            </button>
                        </div>
                        <div data-showmore class="block-series-compare__column">
                            <div data-showmore-content class="block-series-compare__item">
                                <div class="block-series-compare__main-table">
                                    <a href="#" class="block-series-compare__name">ST19</a>
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Поле зрения</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Оптическое увеличение</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Диаметр объектива</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Разрешение детектора</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Потребляемая мощность</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Размеры</span>
                                    9.24° × 7.08°
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span>Показать характеристики</span>
                                <span>Скрыть</span>
                            </button>
                        </div>
                        <div data-showmore class="block-series-compare__column">
                            <div data-showmore-content class="block-series-compare__item">
                                <div class="block-series-compare__main-table">
                                    <a href="#" class="block-series-compare__name">ST19</a>
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Поле зрения</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Оптическое увеличение</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Диаметр объектива</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Разрешение детектора</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Потребляемая мощность</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Встроенная память</span>
                                    9.24° × 7.08°
                                </div>
                                <div class="block-series-compare__name">
                                    <span>Размеры</span>
                                    9.24° × 7.08°
                                </div>
                            </div>
                            <button hidden data-showmore-button type="button" class="more">
                                <span>Показать характеристики</span>
                                <span>Скрыть</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>