<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Серии</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs breadcrumbs-series">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Серии</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-series">
                <div class="container">
                    <h1 class="title1">Серии ARKON</h1>
                    <div class="block-series__body">
                        <div class="block-series__column">
                            <img src="img/series-bg1.webp" alt="" class="block-series__bg">
                            <div class="block-series__title">Тепловизионные прицелы</div>
                            <ul>
                                <li>
                                    <a href="series-detail.html">ARMA</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">ALFA</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">ALFA II</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-series__column">
                            <img src="img/series-bg2.webp" alt="" class="block-series__bg">
                            <div class="block-series__title">Тепловизионные монокуляры</div>
                            <ul>
                                <li>
                                    <a href="series-detail.html">NEVIS</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">OVis</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">OVis II</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-series__column">
                            <img src="img/series-bg3.webp" alt="" class="block-series__bg">
                            <div class="block-series__title">Приборы ночного видения</div>
                            <ul class="count">
                                <li>
                                    <a href="series-detail.html">DIGITAL</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">DIGITAL PRO</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">NVD</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">NVD PRO</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">NVD (ЭОП)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-series__column">
                            <img src="img/series-bg4.webp" alt="" class="block-series__bg">
                            <div class="block-series__title">Лазерные дальномеры</div>
                            <ul>
                                <li>
                                    <a href="series-detail.html">AXIS</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">LRF</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-series__column">
                            <img src="img/series-bg5.webp" alt="" class="block-series__bg">
                            <div class="block-series__title">Кронштейны</div>
                            <ul>
                                <li>
                                    <a href="series-detail.html">Кронштейны к серии ALFA</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-series__column">
                            <img src="img/series-bg6.webp" alt="" class="block-series__bg">
                            <div class="block-series__title">Колиматорные прицелы</div>
                            <ul class="count">
                                <li>
                                    <a href="series-detail.html">Matrix</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">Pointer</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">Prizm</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">Sturm</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-series__column">
                            <img src="img/series-bg7.webp" alt="" class="block-series__bg">
                            <div class="block-series__title">Оптические прицелы</div>
                            <ul>
                                <li>
                                    <a href="series-detail.html">Model A</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">Model B</a>
                                </li>
                                <li>
                                    <a href="series-detail.html">Model C</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/block-descr.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>