<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Гарантия и сервис</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs breadcrumbs-support">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>Гарантия и сервис</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-support">
                <div class="container">
                    <div class="block-support__heading-complex">
                        <h1 class="title1">
                            Гарантия и сервис
                        </h1>
                        <p>
                            Гарантийный период – это срок, во время которого клиент, обнаружив недостаток товара имеет
                            право потребовать от продавца или изготовителя принять меры по устранению дефекта. Продавец
                            должен устранить недостатки, если не будет доказано, что они возникли вследствие нарушений
                            покупателем правил эксплуатации.
                        </p>
                    </div>
                    <div class="block-support__content">
                        <div class="block-support__grid">
                            <div class="block-support__column corners1">
                                <div class="corners1__inner">
                                    <div class="block-support__item">
                                        <div class="block-support__title">
                                            С какого момента начинается гарантия?
                                        </div>
                                        <ul>
                                            <li>
                                                с момента передачи товара потребителю, если в договоре нет уточнения;
                                            </li>
                                            <li>
                                                если нет возможности установить день покупки, то гарантия идёт с момента
                                                изготовления;
                                            </li>
                                            <li>
                                                при заказе товара из интернет-магазина гарантия начинается со дня
                                                доставки.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="block-support__column corners1">
                                <div class="corners1__inner">
                                    <div class="block-support__item">
                                        <div class="block-support__title">
                                            Обслуживание по гарантии включает в себя:
                                        </div>
                                        <ul>
                                            <li>
                                                устранение недостатков товара в сертифицированных сервисных центрах;
                                            </li>
                                            <li>
                                                обмен на аналогичный товар без доплаты;
                                            </li>
                                            <li>
                                                обмен на похожий товар с доплатой;
                                            </li>
                                            <li>
                                                возврат товара и перечисление денежных средств на счёт покупателя.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-support__text">
                            <p>
                                Гарантия на все товары, представленные в нашем интернет-магазине, предоставляется в
                                соответствии с Законом о защите прав потребителей. Мы не продаем «красивые подделки», у
                                нас
                                только оригинальные товары, никакого «конфиската» и контрафактного товара, которого
                                сейчас
                                на рынке намного больше чем "настоящих", фирменных товаров.
                            </p>
                            <p>
                                Максимальная продолжительность ремонта – 45 дней. Обращение в сервисный центр, указанный
                                в
                                гарантийном талоне, напрямую может значительно сократить сроки.
                            </p>
                            <p>
                                Гарантийное обслуживание осуществляется в течение всего гарантийного срока,
                                установленного
                                на товар. Гарантийные обязательства не распространяются на технику, которая была в
                                неправильной эксплуатации или на которой имеются механические повреждения. Срок
                                устранения
                                недостатков до 45 дней.
                            </p>
                            <p>
                                Проверку качества можно провести в течение всего гарантийного срока, если товар не
                                технически сложный, или в течение 15 дней после покупки, если товар технически сложный.
                                Если
                                этот срок истек, товар можно передать на гарантийный ремонт.
                            </p>
                        </div>
                        <div class="block-support__column corners1">
                            <div class="corners1__inner">
                                <div class="block-support__item">
                                    <div class="block-support__title">
                                        Только качественный сервис!
                                    </div>
                                    <div class="block-support__text">
                                        <p>
                                            Мы полностью поддерживаем выражение "Клиент всегда прав", ведь в настоящее
                                            время
                                            это
                                            актуально как никогда. Наша обязанность выслушать и услышать наших
                                            покупателей.
                                            Каждый день мы стараемся сделать нашу работу лучше, чем вчера, но если в наш
                                            процесс
                                            обслуживания, на ваш взгляд, необходимо внести какие-то изменения, и это
                                            сделает
                                            жизнь наших клиентов проще и комфортнее, достаточно написать письмо напрямую
                                            в
                                            интернет-магазин по адресу info@tut.ru
                                        </p>
                                        <p>
                                            В гарантийном обслуживании могут отказать, если устройство имеет
                                            механические
                                            повреждения, следы попадания влаги или вскрытия. Не принимаются на
                                            гарантийное
                                            обслуживание приборы серийный номер которых не совпадает с номером в
                                            гарантийном
                                            талоне или отсутствует вовсе, их невозможно идентифицировать.
                                            <br>
                                            Гарантийные обязательства не распространяются на расходные элементы и
                                            материалы
                                            (батареи, картриджи и т.п.), а также на ремонт или замену естественно
                                            изнашиваемых в
                                            процессе эксплуатации частей;
                                            <br>
                                            В гарантийном ремонте может быть отказано, если установка или ремонт товара
                                            производились лицами, не имеющими соответствующих полномочий и квалификации;
                                            Гарантийные пломбы на корпусе не должны иметь следов вскрытия;
                                            Перед включением техники внимательно изучите прилагаемую инструкцию, при
                                            несоблюдении условий эксплуатации право на гарантийный ремонт утрачивается.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>