<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Деталка магазина</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs breadcrumbs-detail">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="shops.html">
                                Где купить
                            </a>
                        </li>
                        <li class="breadcrumbs__item is-active">
                            <span>«TUT.RU»</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-shops-detail">
                <div class="container">
                    <div class="block-shops-detail__content">
                        <div class="block-shops-detail__left">
                            <a href="shops.html" class="back">
                                <svg aria-hidden="true" width="21" height="18">
                                    <use xlink:href="img/sprite.svg#arrow4"></use>
                                </svg>
                                <span>Назад к магазинам</span>
                            </a>
                            <div class="list-block-shops__item grid-active">
                                <a href="#" class="list-block-shops__title">«TUT.RU»</a>
                                <div class="list-block-shops__bottom">
                                    <div class="list-block-shops__left">
                                        <div class="list-block-shops__location">
                                            <svg aria-hidden="true" width="13" height="16">
                                                <use xlink:href="img/sprite.svg#location1"></use>
                                            </svg>
                                            <span>
                                                г. Москва, ул. Вавилова 69/75,
                                                Оружейный Молл "Вавилон"
                                            </span>
                                        </div>
                                        <div class="list-block-shops__contacts">
                                            <a href="tel:74956496039" class="phone">+7 (495) 649-60-39</a>
                                            <a href="mailto:info@tut.ru" class="mail">info@tut.ru</a>
                                            <a href="#" class="mail">tut.ru</a>
                                        </div>
                                        <div class="list-block-shops__work">
                                            Ежедневно: с 10:00 до 21:00
                                        </div>
                                    </div>
                                    <div class="list-block-shops__right">
                                        <div class="list-block-shops__descr">
                                            <div class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                <span>Магазин</span>
                                            </div>
                                            <div class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                <span>Официальный дилер</span>
                                            </div>
                                            <div class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                <span>Сервисный центр</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-shops-detail__right">
                            <div class="block-shops-detail__column">
                                <div class="block-shops-detail__image corners1">
                                    <div class="corners1__inner">
                                        <img loading="lazy" src="img/address/image1.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="block-shops-detail__column">
                                <div class="title3">Как добраться?</div>
                                <ul>
                                    <li>
                                        До станции метро Профсоюзная (Калужско-Рижская линия). Выход: Профсоюзная улица,
                                        Нахимовский проспект. Далее пешком 11 минут.
                                    </li>
                                    <li>
                                        До остановки "Черёмушкинский рынок" на автобусе: 103, 130, 130а, 130в, 153, 67,
                                        е29, м19, с5; трамвае: 14, 26, 39. Далее пешком 1 минуту.
                                    </li>
                                    <li>
                                        До остановки "Ивана Бабушкина" на автобусе: 103, 130, 130а, 130в, 153, 67, м19.
                                        Далее пешком 3 минуты.
                                    </li>
                                </ul>
                            </div>
                            <div class="block-shops-detail__column">
                                <div class="title3">На карте</div>
                                <div class="block-shops-detail__map corners1">
                                    <div class="corners1__inner">
                                        <div id="map2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-shops-detail__column">
                                <div class="title3">Галерея</div>
                                <div class="block-shops-detail__slider shops-gallery swiper">
                                    <div class="block-shops-detail__wrapper swiper-wrapper">
                                        <a href="img/address/image1.webp" data-fancybox="gallery1"
                                            class="block-shops-detail__slide corners1 swiper-slide">
                                            <div class="corners1__inner">
                                                <img loading="lazy" src="img/address/image1.webp" alt="">
                                            </div>
                                        </a>
                                        <a href="img/address/image5.webp" data-fancybox="gallery1"
                                            class="block-shops-detail__slide corners1 swiper-slide">
                                            <div class="corners1__inner">
                                                <img loading="lazy" src="img/address/image5.webp" alt="">
                                            </div>
                                        </a>
                                        <a href="img/address/image6.webp" data-fancybox="gallery1"
                                            class="block-shops-detail__slide corners1 swiper-slide">
                                            <div class="corners1__inner">
                                                <img loading="lazy" src="img/address/image6.webp" alt="">
                                            </div>
                                        </a>
                                        <a href="img/address/image7.webp" data-fancybox="gallery1"
                                            class="block-shops-detail__slide corners1 swiper-slide">
                                            <div class="corners1__inner">
                                                <img loading="lazy" src="img/address/image7.webp" alt="">
                                            </div>
                                        </a>
                                        <a href="img/address/image1.webp" data-fancybox="gallery1"
                                            class="block-shops-detail__slide corners1 swiper-slide">
                                            <div class="corners1__inner">
                                                <img loading="lazy" src="img/address/image1.webp" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-navs">
                                        <button class="swiper-nav swiper-nav_prev" type="button">
                                            <svg aria-hidden="true" width="42" height="22">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </button>
                                        <button class="swiper-nav swiper-nav_next" type="button">
                                            <svg aria-hidden="true" width="42" height="22">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-other-shops">
                <div class="container">
                    <div class="block-other-shops__content">
                        <div class="block-other-shops__top">
                            <h2 class="title2">Другие магазины в Москве</h2>
                        </div>
                        <div class="block-other-shops__slider swiper">
                            <div class="block-other-shops__wrapper swiper-wrapper">
                                <div class="block-other-shops__slide swiper-slide grid-active">
                                    <div class="list-block-shops__column">
                                        <div class="list-block-shops__item">
                                            <a href="#" class="list-block-shops__title">«Премиум Оптикс»</a>
                                            <div class="list-block-shops__bottom">
                                                <div class="list-block-shops__left">
                                                    <a href="#" class="list-block-shops__location">
                                                        <svg aria-hidden="true" width="13" height="16">
                                                            <use xlink:href="img/sprite.svg#location1"></use>
                                                        </svg>
                                                        <span>
                                                            г. Москва, ул. Профсоюзная, 25А БЦ 1 эт., оф. 129
                                                        </span>
                                                    </a>
                                                    <div class="list-block-shops__contacts">
                                                        <a href="tel:78007076820" class="phone">+7 (800) 707-68-20</a>
                                                        <a href="tel:74955457720" class="phone">+7 (495) 545-77-20</a>
                                                        <a href="mailto:info@tut.ru"
                                                            class="mail">info@premium-optics.ru</a>
                                                        <a href="#" class="mail">premium-optics.ru</a>
                                                    </div>
                                                    <div class="list-block-shops__work">
                                                        Пн-пт: с 09:00 до 20:00
                                                    </div>
                                                </div>
                                                <div class="list-block-shops__right">
                                                    <div class="list-block-shops__descr">
                                                        <div
                                                            class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                            <span>Фирменный магазин</span>
                                                        </div>
                                                        <div
                                                            class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                            <span>Сервисный центр</span>
                                                        </div>
                                                        <div
                                                            class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                            <span>Официальный дилер</span>
                                                        </div>
                                                    </div>
                                                    <div class="btn-text btn-text_1">На карте</div>
                                                    <span class="btn-arrow1">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-other-shops__slide swiper-slide grid-active">
                                    <div class="list-block-shops__column">
                                        <div class="list-block-shops__item">
                                            <a href="#" class="list-block-shops__title">«Артемида»</a>
                                            <div class="list-block-shops__bottom">
                                                <div class="list-block-shops__left">
                                                    <a href="#" class="list-block-shops__location">
                                                        <svg aria-hidden="true" width="13" height="16">
                                                            <use xlink:href="img/sprite.svg#location1"></use>
                                                        </svg>
                                                        <span>
                                                            г. Москва, ул. Тимирязевская, дом 11 корпус 1
                                                        </span>
                                                    </a>
                                                    <div class="list-block-shops__contacts">
                                                        <a href="tel:74956110878" class="phone">+7 (495) 611-08-78</a>
                                                        <a href="tel:74957923006" class="phone">+7 (495) 792-30-06</a>
                                                        <a href="mailto:info@tut.ru"
                                                            class="mail">Info@artemida-hunter.ru</a>
                                                        <a href="#" class="mail">artemida-hunter.ru</a>
                                                    </div>
                                                    <div class="list-block-shops__work">
                                                        Пн-пт: с 10:00 до 21:00
                                                        Сб-вс: с 10:00 до 18:00
                                                    </div>
                                                </div>
                                                <div class="list-block-shops__right">
                                                    <div class="list-block-shops__descr">
                                                        <div
                                                            class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                            <span>Фирменный магазин</span>
                                                        </div>
                                                    </div>
                                                    <div class="btn-text btn-text_1">На карте</div>
                                                    <span class="btn-arrow1">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-other-shops__slide swiper-slide grid-active">
                                    <div class="list-block-shops__column">
                                        <div class="list-block-shops__item">
                                            <a href="#" class="list-block-shops__title">«Охотник»</a>
                                            <div class="list-block-shops__bottom">
                                                <div class="list-block-shops__left">
                                                    <a href="#" class="list-block-shops__location">
                                                        <svg aria-hidden="true" width="13" height="16">
                                                            <use xlink:href="img/sprite.svg#location1"></use>
                                                        </svg>
                                                        <span>
                                                            г. Москва, Головинское ш,
                                                            дом № 1
                                                        </span>
                                                    </a>
                                                    <div class="list-block-shops__contacts">
                                                        <a href="tel:74956456277" class="phone">+7 (495) 645-62-77</a>
                                                        <a href="tel:74956456278" class="phone">+7 (495) 645-62-78</a>
                                                        <a href="mailto:info@tut.ru"
                                                            class="mail">golovinka@ohotnik.com</a>
                                                        <a href="#" class="mail">ohotnik.com</a>
                                                    </div>
                                                    <div class="list-block-shops__work">
                                                        Пн-пт: с 10:00 до 21:00
                                                        Сб-вс: с 10:00 до 18:00
                                                    </div>
                                                </div>
                                                <div class="list-block-shops__right">
                                                    <div class="list-block-shops__descr">
                                                        <div
                                                            class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                            <span>Фирменный магазин</span>
                                                        </div>
                                                    </div>
                                                    <div class="btn-text btn-text_1">На карте</div>
                                                    <span class="btn-arrow1">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-other-shops__slide swiper-slide grid-active">
                                    <div class="list-block-shops__column">
                                        <div class="list-block-shops__item">
                                            <a href="#" class="list-block-shops__title">«TUT.RU»</a>
                                            <div class="list-block-shops__bottom">
                                                <div class="list-block-shops__left">
                                                    <a href="#" class="list-block-shops__location">
                                                        <svg aria-hidden="true" width="13" height="16">
                                                            <use xlink:href="img/sprite.svg#location1"></use>
                                                        </svg>
                                                        <span>
                                                            г. Москва, ул. Вавилова 69/75,
                                                            Оружейный Молл "Вавилон"
                                                        </span>
                                                    </a>
                                                    <div class="list-block-shops__contacts">
                                                        <a href="tel:74956496039" class="phone">+7 (495) 649-60-39</a>
                                                        <a href="mailto:info@tut.ru" class="mail">info@tut.ru</a>
                                                        <a href="#" class="mail">tut.ru</a>
                                                    </div>
                                                    <div class="list-block-shops__work">
                                                        Ежедневно: с 10:00 до 21:00
                                                    </div>
                                                </div>
                                                <div class="list-block-shops__right">
                                                    <div class="list-block-shops__descr">
                                                        <div
                                                            class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                            <span>Фирменный магазин</span>
                                                        </div>
                                                    </div>
                                                    <div class="btn-text btn-text_1">На карте</div>
                                                    <span class="btn-arrow1">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-other-shops__slide swiper-slide grid-active">
                                    <div class="list-block-shops__column">
                                        <div class="list-block-shops__item">
                                            <a href="#" class="list-block-shops__title">«TUT.RU»</a>
                                            <div class="list-block-shops__bottom">
                                                <div class="list-block-shops__left">
                                                    <a href="#" class="list-block-shops__location">
                                                        <svg aria-hidden="true" width="13" height="16">
                                                            <use xlink:href="img/sprite.svg#location1"></use>
                                                        </svg>
                                                        <span>
                                                            г. Москва, ул. Вавилова 69/75,
                                                            Оружейный Молл "Вавилон"
                                                        </span>
                                                    </a>
                                                    <div class="list-block-shops__contacts">
                                                        <a href="tel:74956496039" class="phone">+7 (495) 649-60-39</a>
                                                        <a href="mailto:info@tut.ru" class="mail">info@tut.ru</a>
                                                        <a href="#" class="mail">tut.ru</a>
                                                    </div>
                                                    <div class="list-block-shops__work">
                                                        Ежедневно: с 10:00 до 21:00
                                                    </div>
                                                </div>
                                                <div class="list-block-shops__right">
                                                    <div class="list-block-shops__descr">
                                                        <div
                                                            class="list-block-shops__type badge1 badge1_white badge1_hollow">
                                                            <span>Фирменный магазин</span>
                                                        </div>
                                                    </div>
                                                    <div class="btn-text btn-text_1">На карте</div>
                                                    <span class="btn-arrow1">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-navs">
                                <button class="swiper-nav swiper-nav_prev" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <button class="swiper-nav swiper-nav_next" type="button">
                                    <svg aria-hidden="true" width="42" height="22">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <script
        src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&amp;lang=ru_RU&amp;_v=20240623012845&_v=20250429150847"></script>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>