*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
  padding: 0;
  scroll-behavior: smooth;
  // scrollbar-gutter: stable;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // text-wrap: balance;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.compare-float {
  position: fixed;
  top: 132px;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #16171d;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  border-bottom: 1px solid var(--border-color);
  @media (max-width: 1400px) {
    padding: 30px 0px;
  }
  @media (max-width: 1280px) {
    top: 100px;
  }
  @media (max-width: 1000px) {
    padding: 15px 0px;
  }
  @media (max-width: 992px) {
    top: 0;
  }
  &._active {
    opacity: 1;
    pointer-events: auto;
  }
  .compare-items__slider {
    padding: 20px 0px 0px 0px;
  }
  .compare-items__inner {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .compare-items {
    .checklist {
      bottom: 20px;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
  .compare-items__inner {
    @media (max-width: 1200px) {
      &::before {
        content: "";
        display: none;
      }
    }
  }
  .compare-items__top {
    padding: 30px 0px 19px 0px;
  }
  .swiper-navs {
    top: auto;
    bottom: 20px;
  }
  .compare-items__slide {
    .card-product {
      &:hover {
        .card-product__shipping {
          display: none;
        }
        .card-product__buttons {
          display: none;
        }
        .card-product__inner {
          padding: 10px 60px 10px 10px;
        }
      }
    }
    .card-product__shipping {
      display: none;
    }
    .card-product__buttons {
      display: none;
    }
    .card-product__status {
      display: none;
    }
    .card-product__bonuses {
      display: none;
    }
    .card-product__brand {
      display: none;
    }
    .card-product__badges {
      display: none;
    }
    .card-product__inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      padding: 10px 60px 10px 10px;
      @media (max-width: 1400px) {
        padding: 5px 5px 40px 5px;
        gap: 10px;
      }
      @media (max-width: 550px) {
        padding: 5px;
        gap: 5px;
        flex-direction: column;
        align-items: start;
      }
    }
    .card-product__photo {
      padding: 0px 0px 0px 0px;
      flex: 0 0 78px;
      @media (max-width: 1400px) {
        flex: 0 0 84px;
      }
      @media (max-width: 550px) {
        max-width: 84px;
        flex: 0 0 78px;
        display: flex;
        align-items: center;
      }
    }
    .card-product__data {
      min-height: 100%;
      padding: 0px 0px 0px 0px;
      @media (max-width: 1400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .card-product__name {
      font-size: 14px;
      margin: 0px 0px 10px 0px;
      @media (max-width: 1400px) {
        font-size: 10px;
        margin: 0px 0px 0px 0px;
      }
    }
    .card-product__actions {
      right: 10px;
      top: 15px;
      @media (max-width: 1400px) {
        display: flex;
        align-items: flex-end;
        gap: 5px;
        flex-direction: row;
        top: auto;
        right: 5px;
        bottom: 5px;
        .card-product__action {
          margin: 0px 0px 0px 0px;
        }
      }
      @media (max-width: 550px) {
        bottom: auto;
        top: 5px;
        flex-direction: column;
        align-items: start;
      }
    }

    .card-product__bottom {
      align-items: start;
      @media (max-width: 1400px) {
        position: absolute;
        left: 5px;
        bottom: 5px;
        margin: 0px 80px 0px 0px;
        gap: 0px;
      }
      @media (max-width: 550px) {
        position: relative;
        left: 0;
        bottom: 0;
        margin: 10px 0px 0px 0px;
      }
      div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px 10px;
        .card-product__price1 {
          order: 1;
          margin: 0px 0px 0px 0px;
          @media (max-width: 1400px) {
            font-size: 16px;
          }
        }
        .card-product__price2 {
          order: 2;
          @media (max-width: 1400px) {
            font-size: 10px;
          }
        }
        .card-product__discount {
          order: 3;
          margin: 0px 0px 0px 0px;
          @media (max-width: 1400px) {
            font-size: 10px;
          }
        }
      }
    }
    .special-offer-timer {
      display: none !important;
    }
  }
  @media (max-width: 1400px) {
    .compare-items {
      border-bottom: none;
    }
    .compare-items__inner {
      &::before {
        content: "";
        display: none;
      }
    }
    .compare-items__top {
      display: none;
    }
    .checklist {
      display: none;
    }
    .compare-mobile__navs {
      display: none;
    }
    .compare-mobile__slider {
      margin: 0px 0px 0px 0px;
    }
  }
  .compare-mobile__slide {
    .card-product {
      &:hover {
        .card-product__shipping {
          display: none;
        }
        .card-product__buttons {
          display: none;
        }
        .card-product__inner {
          padding: 10px 60px 10px 10px;
        }
      }
    }
    .card-product__shipping {
      display: none;
    }
    .card-product__buttons {
      display: none;
    }
    .card-product__status {
      display: none;
    }
    .card-product__bonuses {
      display: none;
    }
    .card-product__brand {
      display: none;
    }
    .card-product__badges {
      display: none;
    }
    .card-product__inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      padding: 10px 60px 10px 10px;
      @media (max-width: 1400px) {
        padding: 5px 5px 40px 5px;
        gap: 10px;
      }
      @media (max-width: 550px) {
        padding: 5px;
        gap: 5px;
        flex-direction: column;
        align-items: start;
      }
    }
    .card-product__photo {
      padding: 0px 0px 0px 0px;
      flex: 0 0 78px;
      @media (max-width: 1400px) {
        flex: 0 0 84px;
      }
      @media (max-width: 550px) {
        max-width: 84px;
        flex: 0 0 78px;
        display: flex;
        align-items: center;
      }
    }
    .card-product__data {
      min-height: 100%;
      padding: 0px 0px 0px 0px;
      @media (max-width: 1400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .card-product__name {
      font-size: 14px;
      margin: 0px 0px 10px 0px;
      @media (max-width: 1400px) {
        font-size: 10px;
        margin: 0px 0px 0px 0px;
      }
    }
    .card-product__actions {
      right: 10px;
      top: 15px;
      @media (max-width: 1400px) {
        display: flex;
        align-items: flex-end;
        gap: 5px;
        flex-direction: row;
        top: auto;
        right: 5px;
        bottom: 5px;
        .card-product__action {
          margin: 0px 0px 0px 0px;
        }
      }
      @media (max-width: 550px) {
        bottom: auto;
        top: 5px;
        flex-direction: column;
        align-items: start;
      }
    }

    .card-product__bottom {
      align-items: start;
      @media (max-width: 1400px) {
        position: absolute;
        left: 5px;
        bottom: 5px;
        margin: 0px 80px 0px 0px;
        gap: 0px;
      }
      @media (max-width: 550px) {
        position: relative;
        left: 0;
        bottom: 0;
        margin: 10px 0px 0px 0px;
      }
      div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px 10px;
        .card-product__price1 {
          order: 1;
          margin: 0px 0px 0px 0px;
          @media (max-width: 1400px) {
            font-size: 16px;
          }
        }
        .card-product__price2 {
          order: 2;
          @media (max-width: 1400px) {
            font-size: 10px;
          }
        }
        .card-product__discount {
          order: 3;
          margin: 0px 0px 0px 0px;
          @media (max-width: 1400px) {
            font-size: 10px;
          }
        }
      }
    }
    .special-offer-timer {
      display: none !important;
    }
  }
}
