:root {
  --font-primary: "Play";
  --font-secondary: "Xolonium";
  --font4: "Noah", sans-serif;
  --container-width: 1640px;
  --main-outer-width: 1920px;
  --container-padding: 30px;
  --calculated-padding: calc((100% - var(--container-width)) / 2);
  --border-color: #2b2c2d;
  --theme-color-accent: #c6ce4e;
  --theme-animation-duration: 200ms;
  --theme-animation-duration-fast: 100ms;

  @media (max-width: 1024px) {
    & {
      --container-padding: 15px;
    }
  }
}
